[2019-02-14 01:11] MilosJo opened #1 "React Context issue"
Hey there,
I really liked the idea of your API, but I have ran into an issue.
**React version: "16.8.1"**

This is the component where I use it.
`cart` is from my Context and `toggleShowCart` is a method on it, which works just fine.
`"esc"` gets logged to the console when I press it.
[code]
Regards,
Milos

[2019-02-14 01:35] JohannesKlauss commented on #1
Hi Milos,
thanks for reporting the issue, but I am not quite sure what your problem is exactly. `console.log('esc') || cart.toggleShowCart` will always log `esc` to the console since it's a method call. Could you please specify what you expect the behavior should be and what it actually is? Thank you.

[2019-02-14 12:14] MilosJo commented on #1
Hey @JohannesKlauss
Well, it is not invoking my function `toggleShowCart` properly. As name states, it should open/close my cart component, and its functioning properly when I use it like `onClick={cart.toggleShowCart}`
It is not working tho, when I try to bind `esc` key to call this `toggleShowCart` method.

[2019-02-14 12:35] JohannesKlauss commented on #1
@MilosJo That is because you are not invoking the function at all:
[code]
You have to invoke the function inside the callback, since it is not the callback itself:
[code]

[2019-02-14 13:34] MilosJo commented on #1
@JohannesKlauss
Sadly, I have tried that solution too, and it did not work :(

[2019-02-14 13:42] JohannesKlauss commented on #1
Can you please provide a working codebox or pen example, where this issue is reproduced? Since the `console.log('esc')` is executed, the callback itself gets executed properly. Currently I don't see how this could be related to the hook, but a codebox example could deliver some answers.

[2019-02-15 03:11] MilosJo commented on #1
Hey @JohannesKlauss
I tried it on `creat-react-app`, and copied most of the code and it worked like charm.
Anyways, I had deadline so I go with custom solution.
Thanks, your help is greatly appreciated.

[2019-02-15 03:11] #1 closed

[2019-04-06 01:46] allenbrubaker opened #51 "Infinite Loop"
I think I'm getting an infinite loop because you're not adding the second parameter [] at the end of the useEffect in your code.  This will only register the event handler (hotkey) once instead of every single render.

[2019-04-06 07:58] JohannesKlauss commented on #51
@allenbrubaker Good catch. It's not so much an infinite loop but is binds and unbinds on every render. I'll fix that.

[2019-04-06 08:19] JohannesKlauss commented on #51
Fixed in 1.3.0 release. Thank you for opening the issue.

[2019-04-06 08:19] #51 closed

[2019-04-24 11:32] JohannesKlauss opened #73 "Suggestion: Implement hotkeys version into hook itself"
It might probably a good idea to not depend on the hotkeys package, but to implement it directly into the hook module.
That way we could add our own features and ideas to make this hook more suitable. Also we could probably reduce the module size by not depending on an other library.

[2019-05-01 19:46] chiefGui opened #80 "Latest version on NPM?"
Hey!

I'm willing to use your package, but I'm seeing some `console.log` messages that seems to be already patched yet not available on NPM.

Would you mind to publish a new version with the updates, @JohannesKlauss?

[2019-05-01 19:47] chiefGui commented on #80
https://github.com/JohannesKlauss/react-hotkeys-hook/tree/hotfix/remove-console-logs

[2019-05-02 14:47] JohannesKlauss commented on #80
Hi @chiefGui
Yes, I totally forgot to do that. Sorry.

[2019-05-02 14:56] JohannesKlauss commented on #80
@chiefGui I published a new version with the removed console.logs

[2019-05-02 14:56] #80 closed

[2019-05-10 14:25] chiefGui commented on #80
Thanks!

[2019-05-29 11:41] JohannesKlauss commented on #73
After evaluation it currently doesn't seem worth the effort.

[2019-05-29 11:41] #73 closed

[2019-06-03 11:17] MishaFrenkman opened #101 "Stale state"
Following code behaves unexpectedly.
Prints initial value and not updated state value;

[code]

[2019-06-03 14:31] JohannesKlauss commented on #101
@MishaFrenkman thank you very much for your bug report. This issue got fixed with #99. I published a new version (1.4.0). If you update the package the issue will be gone.

[2019-06-03 14:31] #101 closed

[2019-07-12 17:29] kwhitaker opened #114 "Best practice for curried handlers?"
I have a set of handler functions that look like this:

[code]

If I use this as a callback for `useHotkeys`, the hotkey is going to reset every render, because the callback will change. For example:

[code]

Is there a best practice I should be using to handle this kind of case?

Thanks!

[2019-07-12 20:03] JohannesKlauss commented on #114
Digging into this I just realized that in most cases hotkeys will reset, because I guess most people will just insert an anonymous function, that gets recreated every time.

The solution is to memo the callback. But this is a bigger issue because the Hook itself seems not be capable of memoing a given callback, since it has no dependencies to work with. It's either resetting every render or memo t

[2019-07-12 20:19] kwhitaker commented on #114
@JohannesKlauss thanks for the quick response! I'll implement the pattern you've described.

[2019-07-12 20:19] #114 closed

[2019-07-12 20:29] JohannesKlauss opened #115 "Research: Find a way to memo callback"
When the callback gets passed by a anon function, it will be recreated every time, thus the reference will be gone and useEffect will be called on every render. Find a way to memo the callback within the hook.

[2019-07-18 01:18] WinterCore opened #118 "Question : Callback is being executed infinitely"
Hi, this is more of a question than an issue.
I'm having this weird issue where the callback for ```useHotkeys``` is being executed endlessly even though the button is only pressed once.
[Example](https://codesandbox.io/s/vigorous-maxwell-szket) Try to press the space key.

Shouldn't the callback be called only once (if the button got pressed once), regardless of what's going on in the component ?

[2019-07-19 14:49] JohannesKlauss commented on #118
Hi @WinterCore
thanks for reporting the issue. I'll look into it.

[2019-07-21 09:23] WinterCore commented on #118
Hi
After some digging I found where the issue lies.
Hotkeys.js stores event handlers in an array of objects, and when you unbind something it just makes the object for that handler empty but doesn't actually remove it.
Example image :
![Annotation 2019-07-21 110507](https://user-images.githubusercontent.com/8643036/61589242-7443cf80-aba7-11e9-88c6-bd502554cef5.jpg)

So what's happening is that whe

[2019-07-21 09:28] #118 closed

[2019-07-21 10:53] JohannesKlauss commented on #118
@WinterCore This is a problem with the package currently handling the callback. Right now you have to memoise the callback yourself since I don't know how I could memoise it inside the hook with knowing about all dependencies. I should add this to the docs.

To prevent the infinite loop change the callback to this:

`useHotkeys("space", React.useCallback(() => {
  console.log('fired');

  setFoo(f

[2019-07-21 12:05] JohannesKlauss commented on #115
Fixed in v1.5.0

[2019-07-21 12:05] #115 closed

[2019-07-21 12:16] JohannesKlauss commented on #118
@WinterCore With the release of 1.5.0 the callback gets memoised inside the hotkeys hook. So you don't have to do it yourself anymore.
Check out this section of the docs: https://johannesklauss.github.io/react-hotkeys-hook/docs-use-hotkeys#memoisation

[2019-08-04 19:38] brietsparks opened #127 "hotkeys in input"
Is there a way to handle a hotkey press inside an text input?

relevant: https://github.com/jaywcjlove/hotkeys/issues/85#issuecomment-514387269

[2019-08-05 14:14] JohannesKlauss commented on #127
I'll investigate this and come back to you.

[2019-08-15 21:56] aleccool213 opened #138 "Add documentation for how to build locally and develop"

[2019-08-15 21:56] aleccool213 opened #139 "Add documentation for how to build locally and develop"
Trying to build and `npm link` this locally to fix an issue and it is not straightforward.

[2019-08-16 11:26] JohannesKlauss commented on #138
Closed for #139

[2019-08-16 11:26] #138 closed

[2019-08-16 11:29] JohannesKlauss commented on #139
Basically you can use `docz:dev` and use the docz playground to develop locally. But yeah, I will add some documentation for this.

[2019-08-24 09:09] JohannesKlauss commented on #139
I added a section in the readme: https://github.com/JohannesKlauss/react-hotkeys-hook#local-development

[2019-08-24 09:09] #139 closed

[2019-08-24 09:15] JohannesKlauss commented on #127
Well since the hook is just a wrapper function and the solution according to your linked issue is to use `hotkeys.filter` you could just use that. I am not quite sure how a working example would look like, since I don't quite understand the usage of `hotkeys.filter` in the mentioned issue.
Can you provide any more info on what the feature would look like to you?

[2019-08-26 21:33] JohannesKlauss commented on #127
@gagandeepgill pls reference this comment https://github.com/JohannesKlauss/react-hotkeys-hook/pull/146#issuecomment-525041373
I think that we should make a parameter out of this, because otherwise it will be activated by default, which I don't think is expected behavior for users.

[2019-09-06 10:11] godspeedelbow opened #153 "Duplicate hotkey usages interfere with each other"
I have two components, mounted simultaneously, that both register the same hotkey:

[code]

Whenever one of them gets unmounted, the hotkey stops working for the other component as well.

I think it's because of this line:
https://github.com/JohannesKlauss/react-hotkeys-hook/blob/11e6ccec57498e9a3c99f43f4797c2a06d57cbbf/src/index.ts#L12

Because when I change it to:
[code]

it works as expected.

[2019-09-06 13:38] JohannesKlauss commented on #153
Thank you very much for the bug report. Would you mind to create a PR with the change?

[2019-09-06 14:25] godspeedelbow commented on #153
https://github.com/JohannesKlauss/react-hotkeys-hook/pull/154

👍

[2019-09-09 11:11] #153 closed

[2019-09-10 12:29] CodingDive opened #156 "Statically type 'keys' argument"
Hey, thank you so much for this library. I was about to create my own module when I found your library which closely resembled what I had in mind. 😍

Is it possible to add static types to the keys argument? I always look up the event key names [here](https://keycode.info/) and I'd much rather be using intellisense if possible.

[2019-09-10 14:30] JohannesKlauss commented on #156
Hmh... I am not quite sure.
It's easy to statically type the basic keys, alphanumeric + modifiers.
But you can also do something like `ctrl+shift+alt+m+n+o` or use multiple keystrokes like `ctrl+a,shift+b` and you can also write this as `ctrl+a, shift+b` (mind the whitespace).
I am not sure if this is possible to type in TypeScript. If you have an idea about this, I'd appreciate some input :)

[2019-09-10 22:58] CodingDive commented on #156
No idea. I wanted to read the handbook for a long time. I might get to it soon and'll let you know if I find any magic TypeScript string concatination hacks 😀

[2019-09-11 10:36] JohannesKlauss commented on #156
As far as I know this isn't possible, but of course, I could be wrong.
I'll close this for now, but if you find a way feel free to reopen it.

[2019-09-11 10:36] #156 closed

[2019-11-12 11:12] AshotN opened #197 "Callback approach"
The docs https://johannesklauss.github.io/react-hotkeys-hook/docs-use-hotkeys#memoisation here say to use a Callback approach and avoid defining a dependency array. But I can't figure that out.

    useHotkeys('space', () => log(playerStatus), [playerStatus]);

works just fine, but how should it look

[2019-11-14 10:47] louisrli opened #198 "Testing these hooks inside a component"
Could you give an example of how you could test these hooks if they're used inside a component?

For example, I can't figure out how to test a component that uses this with react testing library [fireEvent](https://testing-library.com/docs/dom-testing-library/api-events).

It looks like the original lib somehow creates a dummy component or something that events get fired against; any tips on how t

[2019-11-16 16:06] JohannesKlauss commented on #197
Hey @AshotN
Your solution is just fine. The Avoidance of the dependency array is specific to updating the state in the `useState` hook.

[2019-11-16 21:08] AshotN commented on #197
I see. It’s to avoid an effect causing an effect? Cool. Thank you

[2019-11-16 21:08] #197 closed

[2019-11-22 06:26] franciscop-sc opened #200 "Don't set wrong examples without warning"
The first code example in [the section Memoisation](https://johannesklauss.github.io/react-hotkeys-hook/docs-use-hotkeys#memoisation) seems to be wrong _on purpose_.

This is very dangerous from a drive-through point of view, many devs will arrive from Google and copy/paste the example, which actually works once so they might call it a day. [Users don't read the text](https://uxmyths.com/post/6474

[2019-11-28 10:30] JohannesKlauss commented on #200
@franciscop-sc thanks for the comment, you're right I will update the docs.

[2019-11-28 10:51] JohannesKlauss commented on #198
I don't quite understand. You would have to use a e2e testing framework like [Cypress.io](https://www.cypress.io/) to mount the component and trigger key strokes.

[2019-12-06 22:50] louisrli commented on #198
Hmm, yeah, I guess what I was saying was that you should be able to unit test these types of things in a react component rather than using a browser test

[2019-12-08 18:02] Wallysburg opened #212 "react-hotkeys-hook js distributions don't support IE."
Hello!

First of all, thanks for creating this useful package.

Unfortunately, default parameters aren't supported by any version of IE, so any project that is consuming this project won't be able to support IE. While I dream of a world where web devs will no longer have to support IE, this is sadly not going to be a reality for years to come.

The problem is that the current build for react-hotke

[2019-12-08 23:32] JohannesKlauss commented on #198
Well this is not so much a problem with this package, but with hooks in general. If you want to test a hook via unit test, build a wrapper like this:
https://dev.to/itsjoekent/write-functional-tests-for-react-hooks-4b07

[2019-12-08 23:32] #198 closed

[2019-12-09 00:22] #200 closed

[2019-12-09 00:25] JohannesKlauss commented on #212
@Wallysburg Thx for creating the issue. I will dig into that. At first glance it seems that pika pack is ignoring the target of the tsconfig, but I need to look into that.

[2020-01-09 03:17] chrisrzhou opened #220 "[Question] How do you specify `cmd` or `ctrl` depending on the OS?"
Hi there!

Is there a way to automatically assign `cmd/ctrl` depending if the OS is Windows/Mac/Linux?

Currently, to support both, I'm declaring this twice:

[code]

This is still not ideal and the best scenario is for `react-hotkeys` to figure out if `ctrl`/`cmd` should be used depending on the OS

[code]

What would be the recommended way to go about approaching this?

Thank you!

[2020-01-18 02:30] Nolux commented on #127
Any updates on this? This is such a nice Hook

[2020-02-06 13:44] josdejong opened #222 "How to create a hotkey for the plus character +?"
Thanks for sharing `useHotkeys` Johannes, it works like a charm :+1:

Question: how to create a hotkey for the plus key `+`?

Looking at [the docs of hotkeys](https://github.com/jaywcjlove/hotkeys/#option), you have to specify a custom `splitKey`:

[code]

As far as I can see, there is currently no way to pass options via `useHotkeys` to `hotkeys`. Any idea?

[2020-02-10 07:49] ypresto commented on #212
There is no config to output es2015 or es5 with `@pika/plugin-ts-standard-pkg` and `@pika/plugin-build-web`. `@pika/plugin-bundle-web` is the only way to do that but all node_modules will be bundled to a single file.

[2020-02-14 12:27] JohannesKlauss commented on #222
@josdejong thx for reporting the issue. You are right, currently there is no way to define that. I'll work on an api asap, so you can define a split key.

[2020-02-14 12:28] JohannesKlauss commented on #127
@Nolux Sorry for not having any updates on this. Because of health issues I was forced to lay down programming for a bit. I try to get this done next week.

[2020-02-14 12:29] JohannesKlauss commented on #220
You can just separate them with a comma like this:
`useHotkeys('ctrl+c, cmd+c', () => copyHandler());  // Windows & Mac`

[2020-02-14 12:29] #220 closed

[2020-02-14 13:11] josdejong commented on #222
:+1: thanks

[2020-02-21 12:52] Nolux commented on #127
No worries mate. I solved it using the hook mentioned above

[2020-02-21 13:54] amitsetty commented on #127
Thanks for taking time out to update this. This hook is really helpful :)

[2020-03-11 12:22] amcdnl opened #234 "Add ability to pass options"
Need to enhance to include ability to pass options - https://github.com/jaywcjlove/hotkeys#option

[2020-03-17 14:23] giuvincenzi commented on #212
With webpack and babel this could be the solution:
[code]

[2020-03-19 12:28] reidphilpot commented on #212
👍 upvote for fixing this transpiling issue, thanks

[2020-03-21 10:05] amanharwara commented on #101
Does this not work with the context API? The state is stale when using the Context API.
Here is example code where it doesn't work:

[code]

Is there something I'm doing wrong or does it not support the Context API?

[2020-03-22 12:09] amanharwara opened #239 "Stale state when using Context API"
When using the Context API, it does not use the updated value and sticks to the initial one.

Here is some example code where this happens:

[code]

Am I doing something wrong or is this a bug?

[2020-03-25 11:37] #239 closed

[2020-03-26 10:21] JohannesKlauss commented on #101
I really don't know how your context is working, where it is wrapped. Also your `useEffect` does not specify a dep array.

[2020-03-27 10:15] amanharwara commented on #101
Turns out adding the context value to the `useHotkeys` dep array fixed it. Thanks.

[2020-03-31 08:49] josdejong commented on #222
Any news on this issue Johannes?

[2020-03-31 12:23] JohannesKlauss commented on #222
@josdejong Yes, I am currently working on a version 2 that includes all the other requested changes and will use a new function signature to be more compliant with all the user wishes. Just bear with me :)

[2020-03-31 18:41] josdejong commented on #222
That sounds promising 😎 , thanks for the update!

[2020-04-04 10:01] JohannesKlauss commented on #127
@Nolux This should already be possible. I'll update the docs on this.

[2020-04-04 10:01] #127 closed

[2020-04-04 10:27] JohannesKlauss commented on #234
@amcdnl This will be available in version 2.0 which will be released later that day.

[2020-04-04 10:38] JohannesKlauss commented on #234
I just released version `2.0.1` which include the ability to pass options. Pls note that the `deps` and `options` parameter have switched places in v2

[2020-04-04 10:38] #234 closed

[2020-04-04 10:39] JohannesKlauss commented on #222
I just released version 2.0.1 which include the ability to pass options and with that the `splitKey` option. Pls note that the deps and options parameter have switched places in v2

[2020-04-04 10:39] #222 closed

[2020-04-04 12:19] josdejong commented on #222
Thanks Johannes that is good news, I can confirm it works like a charm :+1:

[2020-04-05 04:33] cduff opened #252 "2.1.0 broken?"
I upgraded from 1.6.1 to 2.1.0 and the hook has stopped working. Doesn't seem to get triggered by the keys any more.

I'm able to reproduce in a vanilla CRA TypeScript project.

_Note: Reproduced using Node 12.16.1 (LTS) on Windows 10._

[code]

Modify App.tsx to documented 'usage' example:

[code]

Run it and "ctrl+m" doesn't increment the count as expected.

If you do:
[code]
then it works as ex

[2020-04-05 04:37] cduff commented on #252
FYI I tested 2.0.1 and it works.

[2020-04-05 10:14] JohannesKlauss commented on #252
@cduff Thx for your report, you are absolutely right. Must have slipped my mind. I fixed it in 2.1.1.
I guess since more and more people are using this package I should start to add tests to have a more concise and stable release process.

[2020-04-05 10:14] #252 closed

[2020-04-05 14:34] JohannesKlauss commented on #212
@ypresto Yeah you are right. There is unfortunately not much I can do about. I'd have to replace the whole building and publishing system.
Will think about that.

[2020-04-05 16:04] amcdnl opened #255 "Ability to get all hotkeys"
A feature that would be helpful is the ability to get all hotkeys that are registered. This is useful for showing dialogs w/ all the key shortcuts a user can do.

[2020-04-05 17:02] JohannesKlauss commented on #255
@amcdnl This hook is just a wrapper around the [hotkeys package](https://github.com/jaywcjlove/hotkeys). So that would be a feature to request there.

[2020-04-13 09:44] JohannesKlauss commented on #212
@Wallysburg @reidphilpot For the time being I removed the usage of default parameters to fix this issue. Please check if 2.1.2 works for you in IE and let me know if there are any issues.

[2020-04-16 15:32] danielfroz opened #260 "useHotkeys props order"
Hi, Would like to suggest a code change... implications may be huge... But still valid the effort i think.

Most of the time I am in a situation where need to pass {} to options due to it's place in Function props order....
[code]

Honestly Callback's memoization is more important than options... I mean, in almost 99.99% cases I find myself using the options' default values...

Here snipped that r

[2020-04-16 17:23] JohannesKlauss commented on #260
@danielfroz Thanks for your report and you are right, this can be annoying.

I overloaded the hook in version 2.1.3 I just released.
The signature now is

[code]

So you can just omit the empty options object and the hook will determine by itself if it's a deps array or the options object as third argument.
Please let me know if you encounter any problems.

[2020-04-16 17:23] #260 closed

[2020-04-29 10:29] joshwreford commented on #212
I'm using v2.1.3 and I'm still getting webpack errors thrown in IE11. Has anyone else had better luck?

[2020-05-02 14:44] ricardona opened #268 "[Question] How to prevent default execution of shortcut like ctrl+S?"
I am using react-hotkeys-hook to capture CTRL+S shortcut. When the user presses Ctrl+S, the browser opens the "Save as" dialog. I want to prevent that. Could anyone help me with how I can do that?

Thanks in advance.

[2020-05-02 19:01] ricardona commented on #268
I got it:

[code]

[2020-05-02 19:01] #268 closed

[2020-05-02 19:30] ricardona opened #269 "[Question] iframe hotkey"
When creating a web page and then embedding an iframe, the hotkey does not work within this frame. Could you please tell me what I could do to make the parent document hotkey work inside the iframe?

Thanks in advance.

[2020-05-06 11:45] JohannesKlauss commented on #269
Is the hotkey hook used inside the iframe?

[2020-05-06 12:54] ricardona commented on #269
The hotkey is in the parent document. So when opening an iframe this hotkey doesn't work. Is it possible to inject this hotkey into the iframe?

Thanks @JohannesKlauss

[2020-05-09 10:53] JohannesKlauss commented on #269
No. This is not possible due to security concern. Parent cannot access child iframes in any way. Otherwise you could create a site, display a banking page via iframe and then just grab all credentials the user inputs.

[2020-05-09 10:53] #269 closed

[2020-05-13 15:06] amcdnl opened #273 "Ability to scope to elements"
It would be nice if it had to ability to scope based on a ref. Example:

[code]

[2020-05-13 15:08] amcdnl commented on #255
Actually you could just handle this in your registration hook. Heres a use case I'm using react-hotkeys for:

![image](https://user-images.githubusercontent.com/227909/81830370-f7089300-9509-11ea-9129-bc3f8e4c3477.png)

[code]

[2020-05-17 16:55] JohannesKlauss commented on #273
I am not quite sure if I understand what the benefit would be there. What does the ref gain?

[2020-05-17 17:18] JohannesKlauss commented on #255
I'll think about it. Generally I don't like to add global state to a modular hook. Although you could argue that the hotkeys package itself is acting globally. I know that this would be a useful feature, but I still think it would be better to add it to the core hotkeys package.

[2020-05-18 01:02] Taymindis commented on #273
Could it be scope down to specific Element ? If i focus that box, i move that box by using left/right

Example :
https://codesandbox.io/s/react-hotkeys-hook-fwllq?file=/src/index.js

[2020-05-18 12:56] amcdnl commented on #273
Take a look at this library: https://github.com/greena13/react-hotkeys

Imagine the following scenario: User has multiple tree components on a page. When a user focuses one of them, I want them to be able to expand all the nodes on the tree w/ a keyboard shortcut but only the one they have in focus.

Other scenarios might involve binding specific hotkeys to an input for autocomplete features, etc.

[2020-05-18 12:58] amcdnl commented on #255
Ya - I don't like how he did that implementation. I would do something more like context or something like this: https://github.com/streamich/react-use/blob/master/docs/createGlobalState.md

[2020-05-18 13:06] pimterry opened #276 "Filters seem scoped, but aren't"
An example:

[code]

You might want to have different filters for different shortcuts. Here, for example, 'Delete' is something you might press during input, so needs to be filtered to ignore input elements, but 'Ctrl+Shift+Delete' is not.

Unfortunately, the hotkey filter functionality is global, so the last filter that's set always wins. In the above example, 'Delete' will fire everywhere, even

[2020-05-22 11:53] frycz commented on #273
@JohannesKlauss

I think I am facing the same issue as @amcdnl is. When I use hotkeys hook in one component, the hook callback is fired even if another component is focused.

Please, take a look at an example here and let me know if this behaviour is expected, more details included there
https://codesandbox.io/s/react-hotkeys-hook-i17l8?file=/src/index.js

Thanks!

[2020-06-01 09:51] JohannesKlauss commented on #276
I'd love to scope it, but i am not sure if this is possible with the underlying hotkeys package. Maybe it's time to think about a custom implementation. But this would take a while

[2020-06-01 09:53] JohannesKlauss commented on #273
My computer broke down few weeks ago, so i don't have the possibility to dig into this, although this might be related to #276
As soon as i get a working machine running, I'll come back to you

[2020-06-01 09:56] JohannesKlauss commented on #212
@joshwreford can you pinpoint what is causing the error?

[2020-06-11 21:10] louisrli commented on #276
+1. I ran into this issue and was looking through the code, I can see that `hotkey.filters` is set globally. As far as I can see from the original library, they don't let you use `filter` per call to `hotkey`, so it might not be possible, but it would be nice if this were at least documented in the options of the hook (that filter is not isolated between hook usages. same with enableOnTags, since

[2020-06-15 12:27] f-ricci commented on #276
@pimterry @louisrli I found out that the hotkeys-js distinguishes between `true` and `Boolean(true)` , therefore you can use `event => Boolean(true)` but not `event => true`.

I created a PR to fix this #282 .

[2020-06-23 14:52] JohannesKlauss commented on #276
I finally have a working dev machine again. I am going through the issues in the next few days. Bare with me.
Regarding the scoping of the filters, this will only be possible if we use either a custom hotkeys version or build our own. I'll think about this. It probably would be nice to have a independent solution for this so we can add custom features if we want to.

[2020-06-25 15:29] evanwalsh opened #290 "Support for hotkey-js scope is missing"
`hotkey-js` allows you to set a scope with `hotkeys.setScope` and retrieve it via `hotkeys.getScope`. With the new options passing added in, I can define a scope. However, I cannot change from the default `all` scope. If you'd like me to make a PR to add this in, let me know!

[2020-06-30 12:18] JohannesKlauss commented on #276
So I was thinking about this, but I just don't have the time to come up with a custom all browser compatible solution for a hook based hotkeys package. If anyone else wants to create something like this I'd be glad to support where I can. But for now I just can't make the time.

[2020-06-30 12:27] JohannesKlauss commented on #273
@frycz The enabled tags are a global setting in the underlying hotkeys.js package as issued in #276. Only viable solution would be to create a custom implementation, but I don't have the time for that.

Also the scope itself is set global, so this is the reason why the hotkeys aren't scoped to the component it is used in. When creating this library I just needed a quick wrapper around a hotkeys pa

[2020-06-30 12:29] JohannesKlauss commented on #290
@evanwalsh My hands are pretty tight right now. If you find the time to create a PR for this, it would be more than welcome.

[2020-06-30 12:45] frycz commented on #273
@JohannesKlauss, Yea, we already have implemented a custom solution. Thanks for your answer anyway, cheers

[2020-06-30 13:03] amcdnl commented on #273
@frycz - mind sharing?

[2020-06-30 13:20] frycz commented on #273
No problem. After analyzing our needs we realized that our case is so simple that we don't need any external libraries nor generic solutions. We just added a `keydown` event listener to our input component.

[2020-07-02 11:31] Zenjjim opened #295 "Use of brackets and "æøå""
I am creating a project in Norwegian, and wish to add "alt + å" as a hotkey. When i use useHotkeys('*', (e) => console.log(e)); i can see that it is listening to the keypress å and I get an output. However if I use the same hook with useHotkeys('å', (e) => console.log(foo)), i get no output.

[2020-07-02 11:32] Zenjjim commented on #295
The norwegian "å" is equivalent to "{" in the standard keybord config

[2020-07-02 12:03] JohannesKlauss commented on #295
@Zenjjim thanks for the bug report. This package is just wrapping a hook around the [hotkeys.js](https://github.com/jaywcjlove/hotkeys) package. So this bug should be raised there. As soon as it as fixed I can make use of the new hotkeys package and update this wrapper.

[2020-07-02 12:03] #295 closed

[2020-07-15 09:16] JohannesKlauss commented on #273
@amcdnl just to give an update on this, i am currently investigating on this feature as well as the ability to get all hotkeys.

[2020-07-20 13:47] kosijer opened #309 "enableOnTags example"
Can anyone give an example of using enableOnTags or filters option please? I'm trying to make the library work over the `input` field but no luck so far. Thank you

My code looks like this now

[code]

[2020-07-20 15:35] JohannesKlauss commented on #309
For the enableOnTags feature you would do something like this:

`useHotkeys('a', onPress, {enableOnTags: ['INPUT']});`

The `filter` option is ignored if you use `enableOnTags`.
Basically `enableOnTags` just acts as a generic implementation of the `filter` option for the hotkeys.js library.

You would use the `filter` option if you want to have a custom implementation.
Check out the hotkeys.js doc

[2020-07-21 12:42] #309 closed

[2020-07-23 09:57] JohannesKlauss commented on #255
@amcdnl Regarding #273 we have to come up with some kind of api that returns the values.

I was thinking about something like this:

`const [hotkeysRef, getRegisteredHotkeys] = useHotkeys(....);` but I am not sure if it wouldn't be better to have an object returning. Thing is the naming of the return objects.
Have you some thoughts on that?

[2020-07-23 11:28] amcdnl commented on #255
I think the thats a fine api.

[2020-07-23 12:33] JohannesKlauss commented on #255
The what?

[2020-07-23 16:18] JohannesKlauss commented on #273
Using `2.3.0` the hook returns an `RefObject` that can be set to any element taking a ref. Then the callback will only get executed when the reffed object is focused.

[2020-07-23 16:18] #273 closed

[2020-07-23 16:20] JohannesKlauss commented on #255
I changed my mind on this.
Using 2.3.0 the hook returns an RefObject that can be set to any element taking a ref. Then the callback will only get executed when the reffed object is focused.

But retrieving all registered hotkeys will be a different hook, since its more of a meta information.

@amcdnl What do you want to retrieve? Just the registered keys?

[2020-07-23 16:39] amcdnl commented on #255
So with:

[code]

I would expect `getRegisteredHotkeys` to return all the hotkeys that are in the current state of the document. Might be helpful to return in that object the context of what they are attached to but probably not deal breaker.

[2020-07-24 00:43] JohannesKlauss commented on #255
Hmh...
I was thinking about something like a `useRegisteredHotkeys` hook that just gives you all registered hotkeys. Not quite sure how we could save the context. Do you mean the ref that they are attached to?

[2020-07-24 15:27] wereHamster opened #314 "ReactDOM findDOMNode is deprecated"
https://reactjs.org/docs/react-dom.html#finddomnode

The `findDOMNode()` function call (and dependency on `react-dom`) has been added in 34774f9f07cb3ae12bfb358a391aa0a2df30fb79.

AFAIU the code, `findDOMNode()` shouldn't be needed, you can compare the current ref with the active element directly, since the type of `ref.current` extends `Element`:

[code]

[2020-07-24 19:19] JohannesKlauss commented on #314
Good catch, should be just fine. I'll release a fix in a few minutes.

[2020-07-24 19:43] JohannesKlauss commented on #314
Fixed in `2.2.1`

[2020-07-24 19:43] #314 closed

[2020-07-26 03:26] jordymeow commented on #239
Did you find an elegant solution for this @amanharwara ?

[2020-07-26 05:46] amanharwara commented on #239
@jordymeow I haven't used that code in a while so I don't remember exactly but I think it's as simple as adding something to the dependency array in the end.

Check out the [Parameters](https://github.com/JohannesKlauss/react-hotkeys-hook#parameters) section from the README. It has more information about the dependency array.

Also, I think you have to be careful what variable you add as a depende

[2020-07-26 05:51] jordymeow commented on #239
Yes indeed, found it right after asking you in fact :) It works fine. Thanks a lot for your reply too! It works exactly the same way as the standard hooks in React, such as useMemo, useEffect, etc.

[2020-07-26 09:31] JohannesKlauss commented on #255
I also stumbled across another edge case.

What about multiple assigned hotkeys?
If an app for example has multiple hotkeys `ctrl+m` in different contexts, how should we return that?

[2020-07-27 13:58] akashraj9828 opened #316 "Numberpad keys are not being detected even thou the numbers keys on top of keyboard work fine."
The code for numberpad are also "1","2","3".... and for the number keys on top are also same. When i write

[code]

[2020-07-27 18:57] JohannesKlauss commented on #316
This hook is just a wrapper for hotkeys-js.
If keys are not detected, that would be an issue to raise in the hotkeys js repo

[2020-07-27 18:57] #316 closed

[2020-08-05 10:11] Taymindis commented on #273
Hi @JohannesKlauss , It's should be 2.2.0 instead of 2.3.0 right?

[2020-08-05 11:13] JohannesKlauss commented on #273
@Taymindis Yes, of course. my bad.

[2020-08-06 04:52] Taymindis opened #327 "How to ignore repeating keyboard event"
I am trying to migrate my Application from `react-hotkeys`.

I am wondering by any chance to have a options like

`ignoreRepeatedEventsWhenKeyHeldDown: boolean`

in react-hotkeys-hook?

[2020-08-06 08:08] JohannesKlauss commented on #327
Using `useHotkeys(key, handler, {keyup: true})` should work for you. This way the handler gets triggered when there is a keyup event.

[2020-08-06 08:43] Taymindis commented on #327
@JohannesKlauss

It did solve the issue, but what I want is when pressing down and holds it I will put dictionary notification for the user.

I saw `e.repeat` this might good for you to have an idea for this option feature?

[code]

[2020-08-06 13:14] JohannesKlauss commented on #327
I don't quite understand what your issue is. Could you elaborate? You can either detect a key event via keydown or via keyup. Or both, whatever you want. What the handler does is up to you.

[2020-08-06 13:42] Taymindis commented on #327
I am wondering if we can have an option like `keyDownAndHold: true`, and event trigger once only.

However, I would go with keydown and e.repeat to achieve this scenario.

[2020-08-06 13:43] #327 closed

[2020-08-08 11:37] KalpeshPopat commented on #101
This bug has resurfaced, i am using v2.1.3 and events fired via shortcut keys are unable to read the state.

[2020-08-08 11:43] KalpeshPopat opened #329 "events fired via shortcut keys are unable to read the current state of the components."
i was using v2.1.3 and events fired via shortcut keys were unable to read the current state of the components. So i changed to latest version 2.2.2 but the bug persist

[2020-08-09 09:39] JohannesKlauss commented on #101
Are you using the deps array of the `useHotkeys array`? Otherwise you will always get stale state. The handler is memoised and has to update itself depending on the values you give it.

[2020-08-09 09:41] JohannesKlauss commented on #329
Are you using the deps array for the `useHotkeys`hook? Otherwise your state will be stale, since it uses `useCallback` under the hood.

[2020-08-10 03:35] KalpeshPopat commented on #329
This is the code that i am using. dependency array is not passed, however i tried to pass a blank [] array and have the same results.

We have decided to go away from the hook concept for hot keys and instead will be integrating the javascript file directly into the code, since we need conditional execution of the hotkey based on configuration.

`import React from 'react'
import { useHotkeys } fro

[2020-08-10 04:26] KalpeshPopat commented on #101
Thanks for the response, i will respond on other thread.

[2020-08-10 04:28] KalpeshPopat commented on #329
i have solved this problem by instead creating a custom wrapper component for Hotkeys, that also gives me flexibility to implement a conditional execution - as i wanted to disable hotkeys on a button if shortcut is not configured.

[2020-08-10 13:17] JohannesKlauss commented on #329
You have to pass your dependencies otherwise you will get a stale state. It works just like `useMemo` or `useCallback`.

[code]

[2020-08-10 14:06] Taymindis opened #332 "single `alt` key is not working?"
I have a hot key with alt only, but it is not working though

[2020-08-10 14:18] JohannesKlauss commented on #332
Could you please give bit more context and a code example?

The alt key is seen as a modifier, so I don't think that you can listen to it directly. You would have to use the asterik as a wild card to listen to all keys and then check if the alt key is pressed:

`useHotkeys('*', e => console.log('is altKey?', e.altKey));`

[2020-08-10 14:20] #329 closed

[2020-08-10 14:30] Taymindis commented on #332
@JohannesKlauss

I think i got your answer.

[2020-08-10 14:30] #332 closed

[2020-08-11 02:57] KalpeshPopat commented on #329
Thanks. got it.

[2020-08-18 06:08] nuts-cake opened #337 "how Dynamic Settings shortcuts?"
If I get the shortcut key I need in an asynchronous request, but I iterate through the requested data in the FC and iterate over it, an exception will be thrown.
`
 keyCustomArr.forEach((item) => {
    useHotkeys(item.key, item.fn);
  });
`
![image](https://user-images.githubusercontent.com/57939875/90476525-40e1c480-e15c-11ea-94bf-a348cb9c7e71.png)
![image](https://user-images.githubusercontent.c

[2020-08-18 06:09] nuts-cake commented on #337
error:Warning: React has detected a change in the order of Hooks called by MainPage. This will lead to bugs and errors if not fixed. For more information, read the Rules of Hooks:

[2020-08-20 08:38] JohannesKlauss commented on #337
This is not a bug, you are using hooks wrong. There are three rules to using hooks and one of them is to not write them conditionally. See this page for mor info https://reactjs.org/docs/hooks-rules.html

[2020-08-20 08:39] #337 closed

[2020-08-29 13:41] JohannesKlauss commented on #212
@joshwreford Can you check out v2.3.0 and try it in IE11?

[2020-08-29 17:35] JohannesKlauss commented on #255
I thought about this a bit longer because I stumbled over the same need to have all hotkeys in one place and I came to the conclusion that this shouldn't be a feature at all.

Because this feature request reverses the source of truth.
You need to know the hotkey combinations and their functions beforehand anyways. So instead of returning the assigned hotkeys from the hook, you should have a hotkey

[2020-08-29 17:35] #255 closed

[2020-08-29 17:46] #212 closed

[2020-09-02 08:59] Romroot opened #349 "Remove node limitation"
Hello,

In our project, we are using node v10, so we can't use node v12 that you added in engine.  But it don't mean that your library won't work on node with smaller version.
Can we please do one of the options?
1.) remove this engine section in pre-publish
2.) or remove it in section and simply add it to documentation?

If you are busy I can create PR on it.

![image](https://user-images.githubu

[2020-09-02 11:14] JohannesKlauss commented on #349
I have my hands pretty full, but PRs are welcome. Should be an easy one :)

[2020-09-07 11:26] JohannesKlauss commented on #349
The restriction has been removed in version 2.3.1

[2020-09-07 11:26] #349 closed

[2020-09-22 17:33] gamevnlc opened #360 "Combination Hotkeys"
I have created three child components, each component I assign to a hotkey.
Child component A hotkey q
Child component B hotkey w
Child component C hotkey e
When `useHotkeys` on hotkey it will changing the component color. I want to create a combination of `q+w+e` to change color on child components. Is there any way to do it without creating new `useHotkeys`

Thanks

[2020-09-22 22:30] JohannesKlauss commented on #360
You can combine hotkeys by separating them with a comma.

`useHotkeys('q, w, e', () => /* change color */, []);`

See this codesandbox for example: https://codesandbox.io/s/eloquent-ramanujan-e8iqn

[2020-09-23 14:05] gamevnlc commented on #360
Nice, thanks. I haven't think about writing the key combination like that

[2020-09-23 14:47] gamevnlc commented on #360
I have multiple child components when I try this code below on child components it doesn't work
[code]

When I set it in parent component it work ok. Do you know why ?
@JohannesKlauss

[2020-09-23 14:59] gamevnlc commented on #360
nvm, I forgot to attach dependency

[2020-09-23 14:59] #360 closed

[2020-10-06 18:13] michaeljblum commented on #327
Yeah I was trying to achieve something similar to what @Taymindis was looking for I believe. Even with the `{keyup: true}` config, you still get loads of repeated function calls if you hold the specific key combo. I wanted the function to be called just once, irregardless of how long the user presses/holds the specific key combo.

For anyone looking to accomplish this: `(e) => !e.repeat && example

[2020-10-09 18:59] michaeljblum opened #369 "Issue with focusing element after key combo press"
Thanks for your work on this! One little problem I'm encountering though:

I'm presenting my user with the option of entering a key combo to create an item as an alternative to pressing a button to accomplish the same. The functions passed to `useHotKeys()` is the same that exists in my `onClick` for the button - the `add()` mutation here:

[code]
(The !e.repeat is just the best method I've encoun

[2020-10-09 19:04] michaeljblum commented on #369
Very silly - forgot that command + K focuses the search engine toolbar is it's enabled in Firefox. Unrelated to library.

[2020-10-09 19:04] #369 closed

[2020-10-23 14:41] jamesmoss commented on #332
This just tripped me up for an hour or so. I can't see any reason why this isn't supported out the box. It triggers a keydown event just like any other key.

[2020-10-23 16:00] JohannesKlauss commented on #332
@jamesmoss This is because the underlying package is hotkeys.js.
I had plans to build my own solution or switch the base package, but I am too busy right now.

[2020-10-26 07:29] aeschylus opened #389 "It seems options are not getting passed through."
Following the example from the hotkeys documentation referenced in the react-hotkeys-hook documentation [here](https://github.com/jaywcjlove/hotkeys/#keyup), and taking into account the switched position of `deps` and `options` [docs](https://johannesklauss.github.io/react-hotkeys-hook/docs-use-hotkeys#parameters), I have tried the following code:

[code]

However, this returns the following to th

[2020-10-26 09:43] JohannesKlauss commented on #389
You have to use the hook via `useHotkeys`, not `hotkeys.`

[2020-10-26 09:43] #389 closed

[2020-10-26 22:21] aeschylus commented on #389
I've update the code I posted. I am using the hook. I'll set up a sandbox.

[2020-10-27 00:17] JohannesKlauss commented on #389
@aeschylus Your options and deps parameters are in the wrong place, you have to switch them. The fourth parameter only will be inferred as a deps array.

[2020-10-27 00:49] JohannesKlauss commented on #389
I released a new version https://github.com/JohannesKlauss/react-hotkeys-hook/releases/tag/2.4.0 that changes that behavior.

Now you can only set keyup and it won't trigger twice: https://codesandbox.io/s/vibrant-bohr-e6yhz?fontsize=14&hidenavigation=1&theme=dark

[2020-11-16 17:49] larissa-n opened #405 "Use with Portal / outside DOM ?"
Trying to find a way to use this with multiple windows. I tried including the hook in portal children: https://codesandbox.io/s/popout-hotkeys-ysqz6?file=/pages/index.js, and including the hook in the portal / popout definition itself: https://codesandbox.io/s/popout-hotkeys-forked-m4i8y, but neither worked. Any ideas how to solve this?
Thank you!

[2020-11-27 19:25] JohannesKlauss commented on #405
Hi @larissa-n
Sorry for the late reply, I was pretty busy. I have to investigate this, seems like a bug that is happening in the underlying hotkeys-js package. I'll get back to you.

[2020-11-30 01:50] deluan opened #421 "Handling "?" key"
I'm trying to add a HotKey for `?`. In my keyboard, `?` appears above `/` (common American layout). I was expecting this to work:
[code]
But it didn't. The only way I was able to make it work was using:
[code]

The issue with this approach is that it is tied to the keyboard layout. In some layouts, the `?` is **not** on top of `/`, like in this one:
![unnamed](https://user-images.githubusercontent

[2020-12-07 15:51] SteffeyDev commented on #276
I found a fairly easy fix that I implemented in my fork (https://github.com/SteffeyDev/react-hotkeys-hook/blob/feature/scope/src/useHotkeys.ts).  Can't PR though cause I made a lot of other changes in my fork that ended up not being good because of how poorly hotkeys-js handles scoping.

The idea is that you set the global `hotkeys.filter` to `() => true` so that all events are allowed through.  T

[2020-12-07 15:53] JohannesKlauss commented on #276
Thank you for sharing, I'll have a look and implement it.

[2020-12-14 18:25] ianschmitz commented on #421
You probably want to file this over at https://github.com/jaywcjlove/hotkeys as this lib is just a wrapper of `hotkeys-js`.

[2020-12-14 20:15] JohannesKlauss commented on #421
@ianschmitz  While this is true, it should be sufficient enough for @deluan  to listen for `shift+191`. The os should send the correct keyCode depending on the selected keyboard layout. `Shift+191` should always be question mark no matter what the keyboard layout is.

@deluan Pls check if that works and report back if there are any issues persisting.

[2020-12-17 09:08] simon-scholz commented on #421
I actually have the same issue. Which means I can make it work with `useHotkeys('shift+/', callback)`, but this also doesn't work on Safari for some people.

I think the general approach of using the key code `191` (I think it's only `191`, without the `shift` in this case) is a good idea.

However I tried it in a few different ways and it doesn't seem to work. Maybe this has something to do with

[2020-12-22 13:14] astabinski opened #436 ""Options" type exported"
Is there any chance to have "Options" type available to import?

[2020-12-23 13:56] JohannesKlauss commented on #436
Sure, will export the type.

[2020-12-23 13:58] JohannesKlauss commented on #421
I will check the typings.

[2020-12-23 14:12] JohannesKlauss commented on #421
@deluan
I just checked with a german keyboard layout. The `?` is reached via `shift+ß` but still only the hotkey combination `shift+/` works for me to get the question mark hotkey going. So the `/` character is tied to 191.

Just use `shift+/` as you done before and you should be fine, no matter the keyboard layout :)

[2020-12-23 14:12] #421 closed

[2020-12-23 14:15] JohannesKlauss commented on #436
The `Options` type gets exported with version `2.4.1`

[2020-12-23 14:15] #436 closed

[2020-12-23 15:08] JohannesKlauss commented on #276
I implemented a custom filter logic.

Basically everything works as before, but the filter is now scoped to each hook instance instead of globally.

Since this is a behavioral breaking change, I bumped the major version to `3.0.0`

[2020-12-23 15:08] #276 closed

[2020-12-24 11:37] laurensnl opened #438 "Triggers while focussed on input field since v3.0.0"
Since updating to v3.0.0, the hotkeys also trigger while entering text in an input field.

I use the hook like this:

[code]

[2020-12-24 14:03] alperen commented on #438
We caught the same.

[2020-12-27 14:39] JohannesKlauss commented on #438
Weird, I'll look into it.

[2020-12-28 16:09] JohannesKlauss commented on #438
Fixed in 3.0.1

[2020-12-28 23:33] richardsolomou commented on #438
@JohannesKlauss This seems to still be affecting elements with `contenteditable`

[2020-12-29 11:02] Parjoona opened #439 "Using wildcard (*) gives 'length' of undefined at dispatch error."
I am building a functionality where a user can customize their hotkeys in a settings menu, and is picking up the wanted hotkeys by using the wildstar property to do so.

When React changes from this settings page, to any other page, it does not seem like the hotkeys hook unmounts.
I am using v.3 of the library.

This is the hook setup I use on the settings page.
And pick up the keys in input field

[2020-12-29 11:52] laurensnl commented on #438
After the update to v3.0.1, I get this error when pressing a hotkey while focussed on an input field:

[code]

[2020-12-30 10:22] houmark commented on #438
I can confirm getting the same error as @laurensnl

[2020-12-30 13:16] JohannesKlauss commented on #438
I am sorry, I'll look into it. Shouldn't create a major update before the holidays, haha.

[2021-01-04 14:09] JohannesKlauss commented on #439
Could you clarify where you are checking for the user key and function that gets invoked?

Also I see that you are using a `bindingReference` variable. You have to include this as a dependency. Otherwise the ref won't get updated inside the callback.
The callback you are passing is memoised inside the hook, so it works just like `useCallback` or `useEffect`.

[2021-01-04 17:14] JB1905 opened #441 "Incorrect URLs in docs"
Incorrect links in docz menu e.g.:

Instead of `https://johannesklauss.github.io/react-hotkeys-hook/docs-use-hotkeys/` I get `https://johannesklauss.github.io/docs-use-hotkeys`

This is probably a problem with base in doczrc

[2021-01-05 16:02] JohannesKlauss commented on #441
Thanks for reporting. I'll look into it.

[2021-01-05 16:31] JohannesKlauss commented on #438
Should be fixed with 3.0.2

[2021-01-06 16:25] JohannesKlauss commented on #438
Fixed with 3.0.3

[2021-01-07 22:15] laurensnl commented on #438
Thanks @JohannesKlauss! I can confirm that everything works as expected now.  🎉

[2021-01-21 13:04] renovate[bot] opened #455 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:31] #455 closed

[2021-01-29 03:43] tslater commented on #332
I'm currently binding an number input. My use case is to use shift to change the step. I'd like to show the user a visual indicator when the shift key is being held down. However, using `'*'` binds all keys so typing in number, hitting the delete key, etc. no longer work. Is there a way to propagate the event? I tried returning `true` from the callback with no luck.

[2021-01-29 12:10] JohannesKlauss commented on #332
you can set a react state inside the callback and just use `shift` as the key.

[2021-02-12 12:08] Parjoona commented on #439
Thanks, that was a good solve!

[2021-02-12 12:08] #439 closed

[2021-02-28 23:28] ggascoigne opened #480 "Feature request: support an enabled option"
Since this is a hook, and therefore can't be made conditional, it would be extremely useful if there was an enabled or disabled option in the Options.  There are times when I don't want to add keybindings for a reusable component because I know that they'll clash with other ones that are in scope, right now I add them in a junk scope, but it would be much clearer to have an option to just disable

[2021-03-01 00:02] JohannesKlauss commented on #480
Would the filter option suit you? You can give a function to the filter property where you can return false if you don't want the callback to trigger.

[2021-03-01 00:07] ggascoigne commented on #480
That seems to be working nicely, thanks for the work around.

[2021-03-01 11:46] JohannesKlauss commented on #480
No problem, you're welcome.

[2021-03-05 17:31] ggascoigne commented on #480
I should add that this actually only works correctly as a disable option if you also pass through `filterPreventDefault: false`.

Would you mind a PR that adds an enabled flag to options?  Defaulting to true, and if it's false, that just bailes out of the hook before it installs anything?

Having to add a filter as well as a second flag everywhere is ending out sort of messy.

[2021-03-05 18:28] ggascoigne opened #487 "docz:dev target fails"
To be honest this isn't likely to be your bug, but as I know nothing about gatsby I'm thinking that you'll have a better idea if there's an easy way to fix things.

This was a fresh clone, followed by a `yarn install` then `yarn docz:dev`

[code]

[2021-03-05 18:44] JohannesKlauss commented on #487
Oh, thx for raising the issue. I haven't built the docs in a while. I'll check it out.

[2021-03-05 18:45] JohannesKlauss commented on #480
Sure, I get your point. Would you submit a PR?

[2021-03-06 10:41] JohannesKlauss commented on #487
Fixed with 3.2.0

[2021-03-06 10:41] #487 closed

[2021-03-06 10:41] JohannesKlauss commented on #480
Fixed with 3.2.0

[2021-03-06 10:41] #480 closed

[2021-03-06 18:52] #441 closed

[2021-03-06 18:53] JohannesKlauss commented on #441
Finally fixed that error.

[2021-03-11 10:21] richardsolomou commented on #438
@JohannesKlauss This is still affecting elements with `contenteditable`

[2021-03-11 10:38] JohannesKlauss commented on #438
@richardsolomou I'll try to have a look at it over the weekend.

[2021-03-16 00:20] zcaalock opened #494 "how to use numpad?"
i want to set shift+num_1, how to do it?

here is reference
https://github.com/jaywcjlove/hotkeys/issues/96

[2021-03-17 05:10] Nikhil-yadav-90 commented on #494
I am also facing the same issue in setting up my numpad keys enter is working fine in the numpad but numbers are not assigning to the function of numpad

[2021-03-17 08:55] JohannesKlauss commented on #494
I think this is currently not supported. I'll have a look as soon as poosible.

[2021-03-24 16:21] rvrheenen commented on #438
I have the same problem, and having a hard time to find a workaround. I would very much appreciate it you would be able to include this 🙏🏻

[2021-03-29 11:13] JohannesKlauss commented on #494
hotkeys.js added the support for this in its newest version which gets shipped with the `3.3.0` version of this hook.

[2021-03-29 11:13] #494 closed

[2021-03-29 11:14] JohannesKlauss commented on #438
Finally fixed this behavior.
If a target element has its `contentEditable` attribute set to `true`, hotkeys won't trigger.

[2021-03-29 11:14] #438 closed

[2021-03-30 05:49] JoshuaKlaser opened #503 "How Would You Implement This Into A Class Component?"
This is a great library and loving the ease of use with hooks. I am looking to perhaps use this library in an application that uses both class/functional components and have been trying to find a way to get this functionality into class components. What would be the method to get this working?

I have tried to create just a simple functional component that that contains a single useHotkeys, howeve

[2021-03-30 08:44] JohannesKlauss commented on #503
"Doesn't work" is not a very specific description for the problem. What does not work? Does the callback get executed or not? Is the state inside the callback stale?

I am guessing that you are not embedding the component correctly or passing invalid props.
Here is a working example:
https://codesandbox.io/s/suspicious-cray-4cord

But since you are creating a functional component just to make the

[2021-03-30 08:44] #503 closed

[2021-03-30 10:22] JoshuaKlaser commented on #503
Thanks for the reply. I apologise for not explaining my problem more clearly, as I was a bit rushed when I wrote the question. The original issue was that useHotkeys was not triggering at all when used from a class component (which is now resolved).

I had made the functional component above to have it used in class components, however no matter what I tried the callback just wouldn't trigger. It

[2021-04-04 15:52] shawnmitchell opened #505 "Question: Hot Key not propagating when checkbox is focused, any idea how to force?"
I don't believe this is a bug but I'm trying to figure out how to stop keyboard events from getting swallowed up by a focused checkbox. Anyone run into this challenge before and come up with a good solution?

[2021-04-06 09:14] JohannesKlauss commented on #505
Hi @shawnmitchell
You would use the `filter` and `filterPreventDefault` options to achieve this:

[code]

Check this sandbox out https://codesandbox.io/s/hopeful-sun-n7xjc?file=/src/App.tsx

[2021-04-06 09:14] #505 closed

[2021-04-06 13:45] shawnmitchell commented on #505
Thanks so much!

[2021-04-22 07:51] olhapi opened #511 "Param to allow hotkeys in contenteditable?"
Hello @JohannesKlauss. I saw you disabled hotkeys for `contenteditable` in #438. Any way I can enable my hotkey inside `contenteditable` with `enableOnTags` or something?

[2021-04-22 08:44] JohannesKlauss commented on #511
Hi @olhapi,
currently it is completely disabled. May I ask what the use case would be to enable hotkeys in a contenteditable field?

[2021-04-22 08:52] olhapi commented on #511
Thx for reply @JohannesKlauss I want to use `ctrl+s` to save data in wysiwyg without changing focus. I can live without it, but it's nice feature to have.

[2021-04-22 09:05] JohannesKlauss commented on #511
Makes sense. I'll check how wer could clenaly re enable this

[2021-04-22 09:26] olhapi commented on #511
Much appreciated.

[2021-04-22 10:45] JohannesKlauss commented on #511
Fixed in `3.3.1`

You can now write something like this:

[code]

[2021-04-22 10:45] #511 closed

[2021-04-25 08:37] gamevnlc opened #513 "Hotkey not working on radio button"
I using the `space` to trigger the event to change background color but when I click on the radio button and press the `space` nothing happened. The radio button displays the focus visible only. Is there any way to prevent it?
demo: https://codesandbox.io/s/fast-tdd-exfon

[2021-04-25 10:29] JohannesKlauss commented on #513
Hi @gamevnlc
You can use the `enableOnTags` options as shown here:
https://codesandbox.io/s/funny-sun-kxq4r

[2021-04-25 10:29] #513 closed

[2021-04-25 14:00] gamevnlc commented on #513
@JohannesKlauss awesome thanks

[2021-04-26 17:26] llccrr opened #516 "ArrowLeft, ArrowRight.. do not seem to work ?"
I am using the library like this :

[code]

What am I missing ?

Thanks,

[2021-04-26 17:40] JohannesKlauss commented on #516
Use `left` instead of `ArrowLeft`

[code]

[2021-04-26 17:40] #516 closed

[2021-05-07 20:01] codespaceinc opened #520 "Fires twice for the same textarea"
Hey I've noticed when I have 2 separate components that both contain a text area and both have the same hotkeys hook the e.target points to the same textarea rather than 2 different ones.

[2021-05-12 19:46] Seanmclem opened #525 "Not working on Mac"
Hi, I tried

  useHotkeys('ctrl+s', () => { handleSave() });
and

  useHotkeys('cmd+s', () => { handleSave() });

and the default behavior always fires

tried this too

useHotkeys('ctrl+s', () => { handleSave() }, { filterPreventDefault: false });
useHotkeys('cmd+s', () => { handleSave() }, { filterPreventDefault: false });

[2021-05-13 09:40] JohannesKlauss commented on #525
If you want the default behavior to not trigger you need to call that in you callback:

[code]

[2021-05-13 09:58] JohannesKlauss commented on #520
Can you please show some code? There is of course no direct connection between the hotkey and the actual html element.

[2021-05-14 16:23] Seanmclem commented on #525
Thanks, but that doesn't change anything. The inside of the function is never hit. It never runs. I tried:

[code]

[2021-05-15 01:04] #525 closed

[2021-05-18 02:00] meglio opened #529 "Fires multiple times when a dash "-" split key is used instead of a plus"
This version works fine:

[code]

However, if you set `splitKey: '-'` and update the hotkeys string accordingly, it will fire the same event multiple times, which is reported by the `console.log()` in the handler.

Not sure if it's an issue with the hook or with the underlying hotkeys library though. Could you take a look at this please?

[2021-05-18 12:49] JohannesKlauss commented on #529
@meglio Thx for the issue report, I'll have a loop as soon as possible.

[2021-05-18 20:15] SabagRonen opened #533 "Allow in some cases to useHotkeys to work if the event target is contentEditable"
I have scenario similar to the following
`<div id="container"><div id="targetId" contentEditable="true"/></div>`
if the div with targetId didn't consumed the keyboard event I think it's legit to let the div with container id to consume this event
After release 3.3.0 we can't use it in that way.

Is it make sense to allow this behaviour?

[2021-05-19 09:42] JohannesKlauss commented on #533
You can use the `enableOnContentEditable` option as mentioned here: https://github.com/JohannesKlauss/react-hotkeys-hook/issues/511#issuecomment-824734169
I have to update the docs for that.

[2021-05-19 09:42] #533 closed

[2021-05-19 14:36] SabagRonen commented on #533
thanks!!

[2021-06-05 13:51] SereiaMaster opened #543 "Plus key (+) not working"
[code]

Its not working to me, any idea?

[2021-06-05 14:22] SereiaMaster commented on #543
For use numpad keyboard need another keys name

[code]

Work for me! Sorry for this issue

[2021-06-05 14:22] #543 closed

[2021-06-09 02:54] ElvisUpUp opened #544 "splitKey is not working."
the code I write below is not working.

[code]

The version is 3.3.1.

[2021-06-09 08:16] JohannesKlauss commented on #544
Thanks for raising the issue. I'll have a look at it.

[2021-06-10 15:42] Amatewasu commented on #516
For those who will find this post later, the arrow keys are defined like this:

- left
- right
- up
- down

You can find all the keys here: https://github.com/jaywcjlove/hotkeys/blob/master/src/var.js

[2021-06-11 07:23] Vinaxi07 opened #550 "[Question]: How to prevent browser's default event?"
I'm unable to prevent the browser's default event for `Ctrl + n`.

[code]

[2021-06-11 08:34] JohannesKlauss commented on #550
What would the default behavior be for ctrl+n?

[2021-06-11 10:04] Vinaxi07 commented on #550
I've to open a new tab in the **chrome extension app** on press `Ctrl + n`.

[2021-06-11 10:25] Nishchit14 commented on #550
Here is the brief context @JohannesKlauss, It's a shortcut in our app, The shortcut `ctrl+n` should open a new tab within our app instead of the chrome (browser)'s tab.
![image](https://user-images.githubusercontent.com/5078921/121672223-2c94fc80-cacd-11eb-9e31-7802fac2a425.png)

[2021-06-11 12:09] JohannesKlauss commented on #550
This is not possible.

`ctrl+t`, `ctrl+n` and `ctrl+w` are reserved shortcuts in chrome (and pretty sure Firefox and Safari as well). You cannot override them or prevent them from happening, since these are vital controls for the user.

Here is the corresponding chromium issue:
https://bugs.chromium.org/p/chromium/issues/detail?id=33056

[2021-06-11 12:09] #550 closed

[2021-06-18 08:58] JohannesKlauss commented on #544
Hey @ElvisUpUp I finally got around to check this out.

This is a bug in the underlying hotkeys-js package and there is already an issue open: https://github.com/jaywcjlove/hotkeys/issues/270
I'll leave this open as a reminder that we need to bump the version once this got fixed.

[2021-06-18 09:59] JohannesKlauss commented on #529
Fixed in version 3.3.2

[2021-06-18 09:59] #529 closed

[2021-06-19 22:39] zbeyens opened #556 "Unbind when enabled is false"
At the moment, `hotkeys.unbind` is called only on component unmount. The problem is that my component is a sidebar with keyboard navigation that never gets unmounted.

Would it make sense to unbind when `enabled` updates from `true` to `false`?

[2021-06-20 09:57] JohannesKlauss commented on #556
Sounds logical to me, since the callback won't be called anyway. I'll add it to the package.

[2021-06-20 10:08] JohannesKlauss commented on #556
This should actually already be the case as this test shows: https://github.com/JohannesKlauss/react-hotkeys-hook/blob/e55a5ac7a810085a7f4d29f6551a502f8c4541e4/src/index.test.tsx#L220-L230

Can you provide a codesandbox to show that it does not unbind when setting `enabled` to `false`

[2021-06-20 11:38] zbeyens commented on #556
[This actually works](https://codesandbox.io/s/jolly-hopper-1ylm7?file=/src/App.js). My bad, I forgot that the previous effect is cleaned up before executing the next effect.

Thanks for your time!

[2021-06-20 11:38] #556 closed

[2021-06-22 17:36] gamevnlc commented on #513
@JohannesKlauss Hello
I set the `enableOnTags` options the keyboard event only triggers when I click on the input radio button.
I want to trigger the keyboard event when the input radio button is either focused or not focus. Is there any way to do it?

[2021-07-02 12:08] danielcrisp commented on #544
Is it possible to workaround this by using the `which` value for `+` (187) somehow?

[2021-07-15 09:47] joepio opened #567 "enableOnContentEditable not documented"
First off, thanks for creating / maintaining this!

I was about to create an issue about not being able to ignore `contentEditable` elements, until I found the `enableOnContentEditable` setting in the type declarations. Would be awesome if it was included in the docs!

[2021-07-15 10:13] JohannesKlauss commented on #567
You are absolutely right, I'll include it in the docs.

[2021-07-16 17:45] joepio opened #568 "Dealing with precedence / bubbling / scopes, prevent calling previous function with same key"
I'm working on a text editor using this library (I absolutely love the API, btw), but I'm having some issues with re-using the same keys for different purposes.

In the editor, I want to use the arrow keys for navigation, but if the user starts typing a special character, I want to use the arrow keys to navigate a menu. What currently happens, is that both commands are executed. I was kind of hopi

[2021-07-21 09:38] JohannesKlauss opened #572 "Link npm homepage to documentation"

[2021-07-23 08:14] JohannesKlauss opened #574 "[Discussion] Roadmap to Version 4"
# 👋  Announcing Version 4
I am currently overhauling the docs and while writing new and extensive documentation and tutorials on the hook, I realized a lot of shortcomings that are based on the fact that I never planned this to be a popular hook.

This is why I'd like to write out a roadmap to Version 4 that should address all those issues including its own basis on registering hotkeys instead of

[2021-07-23 11:41] #572 closed

[2021-07-23 11:41] JohannesKlauss commented on #572
Fixed with 3.3.3

[2021-07-23 11:49] JohannesKlauss commented on #568
Hi @joepio sorry for the late reply.

Did you try assigning the returned ref to the specific area?

Example here:
https://codesandbox.io/s/beautiful-snow-zlorf?file=/src/App.js

[2021-07-25 18:34] retarsis commented on #115
@JohannesKlauss unfortunately, that solution doesn't work for me.

I think it's a fault of developer that passes a new reference of the callback on each re-render.
at least it will work, but not optimal,  and in my case it just doesn't work at all.

**The context**: my components accepts `selectedItem` prop and right in this component I register `useHotkeys` where I select `next` based on `selecte

[2021-07-26 07:45] JohannesKlauss commented on #115
@retarsis In which way is the memoisation "wrong"?
If you can create a minimal reproduction of your problem I am happy to discuss and help you with that. I am sure that there will be a solution to this :)

[2021-08-10 10:52] phamquocduy commented on #574
Thank you for your work!

[2021-08-25 04:49] renovate[bot] opened #587 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency eslint-plugin-prettier to v3.4.1](../pull/586)
 - [ ] [Update dependency jest to v27](../pull/535)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-09-16 07:07] JohannesKlauss opened #598 "Add a link to Q&A Discussion in Readme for support"
Since more and more people ask for support, it may be helpful to add a support section to the readme.

[2021-09-20 07:16] piotrpawlik commented on #574
Is there any progress on those planned?

[2021-09-20 07:41] JohannesKlauss commented on #574
@piotrpawlik  Currently I am overhauling the docs. After that work on version 4 begins. I have a very limited time to work on this, so it might take a while to get there.

[2021-09-20 07:46] kermopajula commented on #550
I'm experiencing the same for `cmd+d` which adds a bookmark in Chrome, but I didn't find it mentioned in the Chromium bug you referenced. Is it the same thing or could this bookmark thing be prevented somehow?

[2021-09-24 13:39] #598 closed

[2021-09-24 13:40] JohannesKlauss commented on #567
Documentation on that can be found here: https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/disable-hotkeys#enable-hotkeys-on-tags-leveraging-contenteditable

[2021-09-24 13:40] #567 closed

[2021-09-24 13:41] JohannesKlauss commented on #520
Closing this due to inactivity. If the problem persist, pls let me know.

[2021-09-24 13:41] #520 closed

[2021-09-24 13:41] JohannesKlauss commented on #568
Closing this due to inactivity. If the problem persist, pls let me know.

[2021-09-24 13:41] #568 closed

[2021-09-24 13:43] JohannesKlauss commented on #290
Closing this due to the fact that version 4 won't have hotkeys-js as the base package. Until then scoping support won't be supported, but we will likely add support for a similar idea in version 4.

[2021-09-24 13:43] #290 closed

[2021-09-30 10:17] tuanant opened #613 "I can't use the key 'command'"
I have written code :

`useHotkeys('command+shift+n, command+up+1', callback)`

but its not working. Why??

[2021-09-30 12:13] JohannesKlauss opened #614 "Add special `cmd+up+1...9` browser behavior to documentation"

[2021-09-30 12:13] JohannesKlauss commented on #613
If you are using Chrome, the `command+shift+n` keystroke is reserved to open a new incognito window and can't be overridden. Chrome will always trigger its own internal function.
In Firefox this works, so you can just use that: https://codesandbox.io/s/brave-bardeen-4p4s0?file=/src/App.js

Note that the `command` key is only available on macOS.

`command+up+1` works in both browsers, but again als

[2021-09-30 17:43] sonicolasj commented on #574
Hello! Great work done here!
Is there any plan to have a way to get every shortcut currently registered? Maybe using the Context API or something like that?

I feel like displaying a list of keyboard shortcuts to the user is good UX. Maybe the options API should change a little bit, with something like `name` and/or `description` to return as representation, or a "scope" of the shortcut (does it c

[2021-10-01 02:50] tuanant commented on #613
Thank you for this help.
I'm not sure if there is a way to override it: https://codesandbox.io/s/clever-engelbart-deyzy?file=/src/App.js

[2021-10-01 08:19] JohannesKlauss commented on #613
Well, as I said in Chrome it is not possible to override those  keystrokes.

[2021-10-01 08:44] JohannesKlauss commented on #574
Regarding the list of all registered hotkeys, this question has came up in the past and I answered it here: https://github.com/JohannesKlauss/react-hotkeys-hook/issues/255#issuecomment-683320260
In short I am against implementing this for two reasons:
1. It holds global information in a modular hook
2. It inverses ownership of information

So in short, you basically already know what keystrokes yo

[2021-10-04 14:11] #614 closed

[2021-10-05 02:53] #613 closed

[2021-10-18 01:13] noskovvkirill opened #628 "IsHotkeyPressed is not imported"
Hi! I'm not sure why, but isHotkeyPressed is not imported from 'react-hotkeys-hook'. Only useIsHotkeyPressed is available, but I saw the comment that it is not recommended to use. Is there anything that I'm missing? 😅 Thank you!

[2021-10-18 07:58] #628 closed, assigned to nobody

[2021-10-22 12:54] ilbrando opened #634 "Doesn't work with input element"
I can't make it work when I'm using it with an input element.
You can see it in this codesandbox: https://codesandbox.io/s/hotkeys-bug-hun6e

What am I missing?

Best regards

[2021-10-24 15:45] #634 closed, assigned to nobody

[2021-11-07 20:11] devinhalladay commented on #574
I actually came here with the same question as @sonicolasj — something I loved about other hotkey libraries (which I otherwise hated working with) was the ability to easily scope hotkeys, and display a menu of all available hotkeys depending on what part of the app I'm in.

Your linked answer makes sense and would've been my solution as well. I wish it were otherwise, but I agree with you that it

[2021-11-08 09:55] JohannesKlauss commented on #574
@devinhalladay Yes I agree completely and will update the docs accordingly :)

[2021-11-09 16:58] landon-at-faro opened #642 "Invalid hook call"
**Issue**
When importing and using the hook `useHotkeys` I get the following error message:
[code]
What is interesting, is that when I copy the source code of the hook from this repository into my codebase everything works fine.

**react version:** 17.0.3
**react-hotkeys-hook version:** 3.4.4

[2021-11-10 07:35] JohannesKlauss commented on #642
Can you please add your actual code snippet or a cidesandbox?

[2021-11-10 08:17] sarensw commented on #574
One thing that I would consider is to change the way dependencies work. Currently, when there are no dependencies provided to the useHotkeys hook, those values will not be considered after they are updated. So as soon as one uses values from useState in the useHotkeys callback, then you have to add those values to the dependencies array. Took me a while to figure this out as I was questioning myse

[2021-11-10 09:14] JohannesKlauss commented on #574
The reason for this is that we otherwise would need to unbind and bind the hotkey with every value change you are referencing inside the callback.
There is a complete section inside the docs regarding that topic:
https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/setting-callback-dependencies

The way I see it is that the callback is working just like the callbacks for every other

[2021-11-11 02:46] sarensw commented on #574
Thanks for the explanation. I agree with you. If you could make this more visible in the README.md then I think all is good.

[2021-11-11 12:56] n0mn0m commented on #574
@sarensw it's under [parameters](https://github.com/JohannesKlauss/react-hotkeys-hook#parameters) in the readme, and has a page in the docs previous mentioned.

[2021-11-14 15:07] Enteleform commented on #544
`splitKey` is somewhat working for me, but it's buggy.

Every time the hook is called, it adds another listener, so the command is executed an increasing number times.

e.g. after 3 renders, the callback is executed 3 times per hotkey activation.

This only occurs when using `splitKey`.

[2021-11-15 09:07] JohannesKlauss commented on #544
Do you have a codesandbox repro for that behavior?

[2021-11-20 22:32] yigitkeremoktay commented on #511
Hey, there is a little issue that I have found. The option `enableOnContentEditable` definitely seems to be working totally fine with non-inputs with `contentEditable={true}` however when using a normal `<input>`, the option doesn't work and the hotkey is not triggered. Is this a limitation of JavaScript or is it is just a bug/choice of the library?

[2021-11-21 09:47] JohannesKlauss commented on #511
You have to use the `enableOnTags` option as mentioned here:
https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/disable-hotkeys#enable-hotkeys-on-form-fields

`contentEditable` is unrelated to input tags.

[2021-11-21 09:48] yigitkeremoktay commented on #511
Thanks very much for your quick reply. Really appreciate your support.

[2021-11-22 16:28] codingedgar opened #648 "Export hotkeys"
Hi, amazing lib 💛

Is it possible to export `hotkeys`? seems kind of necessary specially to use with modifier keys

[2021-11-22 16:56] codingedgar opened #649 "isHotkeyPressed clearing howkeys after re render"
When I use `isHotkeyPressed` they return correct results, but if the component re-renders then it start returning false negatives

[2021-11-23 10:26] JohannesKlauss commented on #648
Hi thanks for the kind words.

I am not sure if I get the use case you are referring to. Why is it necessary to export `hotkeys` (with that I guess you mean the underlying package) when using modifier keys. Could you elaborate on that?

In any case you can just add the `hotkeys-js` package to you package.json and use the package directly.

[2021-11-23 10:27] JohannesKlauss commented on #649
Can you please provide a codesandbox which reproduces the problem?

`isHotkeyPressed` only checks if a key is pressed down during invocation of the function, so it should be uncoupled from any react logic.

[2021-12-01 13:25] codingedgar commented on #648
Honestly just to void doing this:

My use case is implementing `hotkeys-js` examples like this one:
https://github.com/jaywcjlove/hotkeys#api-reference
[code]

[2021-12-01 13:25] codingedgar commented on #649
Ok! let me put something together ✌️

[2021-12-01 16:21] JohannesKlauss commented on #648
Hmh, I don't really get that use case, since this is just an example of the several modifier key checks.

If you want to check for modifier keys use could either use `isHotkeyPressed` or listen for it with `shift+a` for example. Do you have a more specific use case to illustrate a problem, that the hook doesn't cover in a sufficient way?

[2021-12-01 16:36] codingedgar commented on #648
The use case exists becase some modifiers cannot be set (https://github.com/jaywcjlove/hotkeys/issues/206#issuecomment-652758711), therefore cannot be sole bound to a hotkey.

Further, as i'm trying to exemplify in https://github.com/JohannesKlauss/react-hotkeys-hook/issues/649 `isHotkeyPressed` is not reliable, and I could say it is reasanoble any `hotkey-js` usecase (specially a documented one)

[2021-12-01 17:45] JohannesKlauss commented on #648
hotkeys-js is not being re exported since (as I mentioned above) you can easily use the package by itself it you need to. Also Version 4 will drop hotkeys-js as its underlying dependency, so it would be an upcoming breaking change.

As mentioned in #649 if you provide an example that breaks `isHotkeyPressed` I am happy to try to fix it and then you don't need the hotkeys package reexported to chec

[2021-12-01 19:55] codingedgar commented on #648
Makes sense, I'll try to reproduce the issue in a code sandbox

[2021-12-01 19:56] #648 closed

[2021-12-10 08:10] weihomechen opened #659 "Unable work when listen only "shift" key"
Hi，As the simple case, it do't work when  listen  only "shift" key
[code]

[2021-12-10 08:17] weihomechen commented on #659
here is  a solution
[code]

[2021-12-10 08:18] #659 closed

[2021-12-14 12:25] JohannesKlauss opened #663 "Add Search to documentation"
https://www.algolia.com/pricing/ is free to use in this size.

[2021-12-14 16:11] balboFK opened #664 "Multiple hotkeys as ref to a single element"
Hello everybody!

Any ideia of how to achieve a solution if I have multiple hotkeys that will be scoped to the same component? Do I still need to use refs?

Lets say that on a box, I will have the hotkeys 'arrowUp' and 'arrowDown' to move said box up and down.
How should i pass those refs?

[code]

Should I create something like this answer o S.O or is there a better way to do that on the library

[2021-12-20 09:58] JohannesKlauss commented on #664
Hey @balboFK you should be able to use a library like https://github.com/gregberge/react-merge-refs to merge two refs together.

[2021-12-20 10:57] balboFK commented on #664
Hello @JohannesKlauss, thanks for the reply.
I tried the way the linked answer on SO said, and it worked aswell.

[code]

It's a bit hacky I would say but it saves me from adding another package to the project for now.
Thanks anyway for your time to search for that library I will keep it in mind for the future!

[2021-12-20 12:39] #664 closed

[2022-01-02 23:13] davaughncodes opened #668 "Deploy your app for free 🚀"
Hey @Johannes Klauss, I'm reaching out because I took a look at your project on GitHub (JohannesKlauss/react-hotkeys-hook) and decided to reach out to see if you'd be interested in free hosting. I'm the owner of DeeloCloud, a serverless dev platform that allows you to easily deploy frontend and backend apps in minutes. It's built for developers, it's super easy to use, and you won't have to manage

[2022-01-02 23:15] JohannesKlauss commented on #668
Pls refrain from abusing the issues panel to advertise your products. Thank you.

[2022-01-02 23:17] #668 closed

[2022-01-10 14:15] JohannesKlauss commented on #642
Closing due to inactivity

[2022-01-10 14:15] #642 closed

[2022-01-14 23:51] rosalie-liu opened #672 "Default value of keyup and keydown in the documentation"
Hi! I just noticed a small typo in the doc: https://react-hotkeys-hook.vercel.app/docs/api/use-hotkeys
![image](https://user-images.githubusercontent.com/52677246/149599136-93cb60c0-b52f-4902-a156-91e1a5c370db.png)

It seems like `keydown` is default to `true` and `keyup` is `undefined`. Thanks!
https://github.com/JohannesKlauss/react-hotkeys-hook/blob/master/src/useHotkeys.ts#L28

[2022-01-17 14:21] FelipeDecome opened #677 "Priority over keys"
Is there a way to set a priority for combined keys?

I am migrating a project from react-hotkeys. I need to implement a navigation by arrow and them combined (`UP`, `RIGHT`, `DOWN`, `LEFT`, `UP+RIGHT`, `DOWN+RIGHT`, `DOWN+LEFT`, `UP+LEFT`).

The issue is, when i press any combination, 2 events are fired, for example:
When i press `UP+RIGHT`, one event for `UP` is fired and then one for `UP+RIGHT`

[2022-01-17 15:56] FelipeDecome commented on #677
Hi @JohannesKlauss , thanks for your quickly reply.

So maybe this could be a limitation of hotkeys.js. Sorry for bothering you.

I did solve this problem with a timeout function. When the 'UP' event is fired, a timeout is set and then if another key is pressed, the timout is cleared and the execution continues with the keys combined.

Do you have any plans to implement this as a feature? Maybe in

[2022-01-17 16:09] JohannesKlauss commented on #677
So this works like more or less like a debounce mechanism, right? You check after 150ms which keys were actually pressed.

Hmh... I wonder if we could implement this into the package for version 4.

[2022-01-17 16:25] FelipeDecome commented on #677
Yes, its like a debounce, 150ms fitted my needs.

Yes, agreed. This worked in my specific case, and needs improvements too.

[2022-01-18 20:48] SO-Eng opened #678 "Mac: 'option+n' don't trigger callback"
We have a WebApp, where we implemented 'alt+n' to open a form. This also triggers, when user focuses an input field and press 'alt+n'. Means, current form will be saved and a new one will be opened.
Everything work's as expected!

Now we refactor all our hotkey events for Mac users and we struggle at 'option+n'. It work'e well, when no form is open.
Also when the form is open, but no input field i

[2022-01-19 09:28] JohannesKlauss commented on #678
Hi @SO-Eng
thx for raising that issue. I'll check that out and come back to you :)

[2022-01-19 09:30] JohannesKlauss commented on #672
@rosalie-liu Thanks for raising that issue,
would you mind creating a PR to fix the typo in the docs?

[2022-01-31 00:05] rosalie-liu commented on #672
Sorry for the delay, I created a [PR](https://github.com/JohannesKlauss/react-hotkeys-hook/pull/685) to fix the typo. Thanks!

[2022-01-31 11:01] laiba18 opened #686 "Disable browser default Hot keys"
How to disable default browsing hot keys .Override with our react app hot keys

[2022-02-02 09:54] JohannesKlauss commented on #672
Thank you, merged it.

[2022-02-02 09:54] #672 closed

[2022-02-02 09:57] JohannesKlauss commented on #686
You can use something like this:

[code]

[2022-02-02 09:57] #686 closed

[2022-02-02 11:15] ietz commented on #642
I just had the same problem but noticed that it was my fault. I accidentally ran the `npm install` in a parent directory, e.g., in `project/` instead of `project/frontend/`. Just leaving this here just in case anyone else encounters this.

[2022-02-02 16:43] landon-at-faro commented on #642
Thanks for the info. That probably was our issue as well. We are using npm workspaces and are running `npm i` in the root directory instead of the individual workspace directories. I wonder if the version of this lib I used did not support workspaces

[2022-02-03 08:43] JohannesKlauss commented on #642
A npm package cannot be mono repo compatible or not. This is dependent on you mono repo tool like lerna, turborepo, yarn workspaces, etc.
A package itself just defines exports and entry points.

[2022-02-04 06:17] laiba18 commented on #686
Thankyou for reply one more question is:
1) If one input field focus on any hotkeys then the second hotkey does not
apply. What should we do for this scenario ?
e.g suppose I have focused on an input field then click any hotkey
doesnot execute if one field is autofocus. What should we do in this
scenario?

On Wed, Feb 2, 2022 at 2:57 PM Johannes Klauss ***@***.***>
wrote:

[2022-02-04 10:56] laiba18 commented on #686
Is it possible to one same key used into multiple functionalities. (E.g Enter key used to cover multiple scenarios)

[2022-02-04 15:55] JohannesKlauss commented on #686
This is not a support channel. This is meant to collect bugs. Please refer to the docs for your questions:

https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/disable-hotkeys#enable-hotkeys-on-form-fields
https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/scoping-hotkeys

[2022-02-08 20:37] liorp commented on #574
Hi! I’ve actually created a [wrapper](https://github.com/liorp/react-hotkeys-docs-hook) for this- would love to see this get merged to this package/docs. It stores your currently active hot keys in a context, and allows for easy display of them.

[2022-02-12 08:41] naivefun opened #694 "how to prevent default behavior of browser? (cmd+s)"
I'd like to use `cmd+s` for save button, but the save page dialog pops up.

[2022-02-13 08:38] JohannesKlauss commented on #694
Have a look at the docs: https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/disable-hotkeys#prevent-default-browser-behavior

[2022-02-13 08:38] #694 closed

[2022-02-15 14:01] JohannesKlauss commented on #574
Hey everybody,
I finally have the resources to work on version 4.
So if you have any specific features in mind, wishes, improvements, etc. Now is the time :)

I can't give a timeline yet, but I hope to release a candidate around march.
If anybody has experience in writing documentation and is willing to help me out, I'd love to take it, because this is the tedious part as I learnt the last time.

[2022-02-15 14:40] JohannesKlauss commented on #574
You can track the progress in the to do list above: https://github.com/JohannesKlauss/react-hotkeys-hook/issues/574#issue-951354306

I also realized that I need a context to support scoping. And since a lot of users where asking about currently registered hotkeys, I am thinking about adding that to the core package. Let me know what you think about that.

[2022-02-15 16:06] JohannesKlauss opened #696 "Add a eslint plugin for dependency validation"

[2022-02-28 20:55] rockerBOO opened #706 "ctrl+c does not call callback in tests"
Was creating a copy/paste tool and was trying to isolate why this wasn't firing. If I do manual event listeners it works fine but this doesn't seem to work. Did some initial testing with the hotkey library, using their test suite and seems to trigger over there.

[code]
If I change it to a capital C it works.

[code]

Any workarounds would be helpful too. `ctrl+c` works fine on the browser.

[2022-02-28 21:38] rockerBOO commented on #706
Actually seems doing it using this combo with hotkeys proper.

[code]

[2022-02-28 21:38] #706 closed

[2022-03-01 00:22] rockerBOO commented on #706
To anyone curious, I resolved this to `userEvent.keyboard('{Control>}C{/Control}');` which will trigger for `ctrl+c`.

[2022-03-10 14:49] RyKilleen commented on #574
I haven't seen mention of it so thought of throwing it out here:

The biggest feature I'm looking for in a library like this is something like `getPressedKeycodes()`. I'd love to access an array of the currently pressed keys when attempting to let users define a custom shortcut command. Perhaps this is achieved some other way with your library, either in v3 or v4, but I couldn't identify a way to

[2022-03-12 09:57] JohannesKlauss commented on #574
Hi @RyKilleen thanks for the suggestion. I will definitely add this to the roadmap for version 4. Sounds like a useful feature.

[2022-04-20 15:37] gezabela opened #735 "Text field doesn't accept hotkey characters bound to checkbox hook"
There is an issue when a hotkey is bound to a checkbox. There is also a textbox in the app. The key that is bound to the checkbox is 'f'. In this scenario I am unable to type the letter 'f' in my textbox.

Please check the code [here](https://codepen.io/blehel/pen/WNdPmBW)

[2022-05-03 18:10] gezabela commented on #735
We are building a page where there is search box and a table. Multiple rows can be selected using checkboxes. There are also row specific action (f for flagging, v for validating in the context of our domain). The users can navigate through the rows using the tab key, which iterates over the rows by focusing the checkbox. So there is a separate hotkey hook attached to every checkbox in every row,

[2022-05-04 07:39] JohannesKlauss commented on #735
You can use scoping for that:
https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/scoping-hotkeys#scoping-with-non-focusable-components

With that feature you can have the `f` and `v` hotkeys only active if the user has focused a row.

[2022-05-04 10:17] gezabela commented on #735
Yes, but that is not the issue. I don't want the whole <td> element to be focusable. The only focus is on the focusable checkbox input element and also the hotkey hook is bound to that. That part works. But for some reason then the f and v are not typeable in the input box which technically should not listen to any hotkey. The demo code in my initial post illustrates perfectly that I cannot type t

[2022-05-04 12:26] JohannesKlauss commented on #735
Ah ok, I understand the problem. Unfortunately this is currently not possible, but will be in version 4.
Currently all hotkeys get bound to the document, which is why it blocks in all input elements on the page.

[2022-05-12 15:22] gabrielpetersson opened #749 "Command is treated as control on mac"
[code]

The following triggers on `command+f` on mac, is that expected

[2022-05-12 15:23] #749 closed

[2022-05-18 18:03] srmagura opened #754 "Passing a falsy value as the hook's first argument unbinds ALL handlers"
[CodeSandbox that demonstrates the issue](https://codesandbox.io/s/react-hotkeys-hook-unbind-all-u6qlf2?file=/src/App.tsx)

It happens because of [this line in hotkeys-js](https://github.com/jaywcjlove/hotkeys/blob/845b0059eaec239db15a6fd25703ea3385054aab/src/index.js#L100).

Is the current behavior intentional? Whether intentional or not, I think we need to change it in some way since the current

[2022-05-19 07:10] JohannesKlauss commented on #754
Well the easiest fix would be to fix it in hotkeys-js package. Changing the line above the mentioned one to `if (typeof keysInfo === 'undefined')` will take care of it. So maybe it is better to raise this issue in the hotkeys-js repo

[2022-05-20 06:54] #754 closed

[2022-05-20 07:48] JohannesKlauss commented on #649
Closing due to inactivity. If you still encounter this issue, please add a comment

[2022-05-20 07:48] #649 closed

[2022-05-20 07:50] JohannesKlauss commented on #544
This will be implemented in version 4, so I am closing this for now. RC of version 4 is right around the corner

[2022-05-20 07:50] #544 closed

[2022-05-20 07:51] JohannesKlauss commented on #735
I am closing this for now. The feature/bug fix is implemented in version 4, which is right around the corner

[2022-05-20 07:51] #735 closed

[2022-05-28 15:58] felixmpaulus commented on #574
Would love to have the ability to call a function on keyup and then on keydown to basically change the state while a key is pressed and revert it once the key is no longer pressed.

I tried adding to hooks for the same key combination, one on keyup, the other on keydown and have them execute different callbacks. But that did not work...
Thanks for your work! :)

[2022-05-30 08:26] JohannesKlauss commented on #574
@felixmpaulus Huh, was under the impression that this was already possible, but you are absolutely right. I'll add that to the list

[2022-05-31 19:18] jcmartinezdev opened #759 "enableOnTags not working when scoping components."
When I try to use `enableOnTags` on a scoped element the event is not fired when an input has the focus.

Here is a code sample:

[code]

https://codesandbox.io/s/suspicious-mestorf-fc356x?file=/src/App.js:0-513

## Expected result:
When I press the key 'b' while focused on the input box the counter increases.

## Actual result
The counter doesn't increase, so the keyboard event is not fired, and

[2022-06-07 11:59] sebpowell opened #764 "How to prevent propagation in nested components"
I have the following use case: a select dropdown, inside a modal.

I want to be able to set things up so that if the 'escape' key is hit when the dropdown is not open, it closes the modal, but if the dropdown IS open, it only closes the dropdown (and not the modal).

I'm testing this idea using the following, basic approach:

[code]

I would have thought that using preventDefault and / or stopProp

[2022-06-07 12:06] JohannesKlauss commented on #764
You have to use the ref that is return by the hook to scope the hotkey to a component:
https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/scoping-hotkeys

[2022-06-07 12:08] sebpowell commented on #764
I completely missed this 🤦 Thank you so much for the quick response and help!

[2022-06-07 13:11] sebpowell commented on #764
Sorry, one other question – just tried doing this, and Typescript doesn't like it – you can see the error here:

<img width="1428" alt="Screenshot 2022-06-07 at 14 10 26" src="https://user-images.githubusercontent.com/1786366/172388150-ac758fbb-17e5-4ad2-818c-33c9e19a1143.png">

Also, regardless of TS, this doesn't seem to work – hitting the 'esc' key doesn't do anything (if I remove the ref, and

[2022-06-07 13:23] sebpowell commented on #764
Ah, my bad – it DOES work, it's just TS that's not happy. I suppose I could cast the type – do you think that's the best way to go about it?

[2022-06-07 17:28] sebpowell commented on #764
Thank you!!

[2022-06-07 17:28] #764 closed

[2022-06-08 09:41] bajcmartinez opened #765 "isKeyPressed not working when dependencies are added to a useHotKey hook"
As strange as it sounds, when we utilize `useHotKey` and we pass dependencies that trigger a component re-render, then the `isHotKeyPressed` function will not recognize such a key any longer after a component re-render.

You can see the effect in the following codesandbox:

https://codesandbox.io/s/charming-visvesvaraya-zos5vk?file=/src/App.js

[2022-06-08 12:22] JohannesKlauss commented on #765
https://user-images.githubusercontent.com/6214415/172614913-e3b17768-74a7-4101-a136-3da1447b2870.mov

Cannot reproduce that issue. In which browser does that happen?

[2022-06-08 12:27] bajcmartinez commented on #765
That's weird, are you constantly holding shift or holding and releasing on each click?

It happens at least on chrome while holding shift the whole time, if I release shift and press it again it works again

[2022-06-08 12:55] JohannesKlauss commented on #765
Ah, you are absolutely right, that's odd. Have to look into it. Thank you for bringing this to my attention

[2022-06-10 16:31] nddery opened #766 "`isHotkeyPressed` not working when not using `useHotKeys` anywhere"
Seems like `isHotKeyPressed` always return `false` when `useHotKeys` isn't used elsewhere in the app.

Holding `shift` and clicking the button does not increment the count: https://codesandbox.io/s/prod-glitter-x5fxiw?file=/src/App.js

Same sandbox, but if I invoke `useHotKeys`, holding `shift` and clicking the button does increment the count: https://codesandbox.io/s/wizardly-sun-1ns9sz?file=/src

[2022-06-10 21:57] nddery commented on #766
Seems like when using `hotkeys-js` directly, you need to wrap any calls to `hotkeys.isPressed` inside `hotkeys()` - hence I think the behavior showcased in the codesandbox above is expected.

However, seems like `useHotKeys` does have some side effects, which caught me off guard, thinking something was wrong.

I'd imagine the number of people using this library without using `useHotKeys` to be qui

[2022-06-13 07:34] JohannesKlauss commented on #766
This seems to be related to #765
Starting at version 4 we will drop the hotkeys-js package and rely on our own solution. `isHotkeysPressed` will then work independently from the hook. Although we haven't implemented that feature yet, I am confident that we will have it working as we intended it.
Version 4 will hopefully have its first release candidate in the next few weeks.

[2022-07-06 20:55] RealSGII2 commented on #574
I may be a tad bit late, and I hope this isn't out of the scope:
It'd be very nice to see a "key chord" mechanic, similar to Visual Studio or Visual Studio Code.

Essentially, you have to press multiple hot keys to run something, i.e. in Visual Studio Code, you can press `Ctrl+K`, then `W` to close all of the currently open tabs.

[2022-07-06 21:38] JohannesKlauss commented on #574
@RealSGII2 thank you for the suggestion, but you can already implement this in user land. Just set a state flag to true when the first combination is pressed (and possibly set it to false after a given frame of time) and then check that flag inside the second hotkey callback

[2022-07-07 17:01] paullexen commented on #759
I'm also running into this problem. Does anyone have a workaround for this?

[2022-07-16 06:58] vojto opened #781 "Scoped hotkey should be executed before a global one"
In App.tsx I have:

[code]

In ContextMenu.tsx:

[code]

If I press Escape, the handler in App gets called first, presumably because it was set up first.

**I think scoped hotkey should get called first - the global ones should come next.**

---

To give you a better idea, this is what the context menu looks like:

<img width="190" alt="CleanShot 2022-07-16 at 08 57 33@2x" src="https://user-images

[2022-07-18 00:28] adam-olema commented on #781
Same issue.  If nothing else, the scoped/inner callback should at least get a chance to stop the event from propagating.

[2022-07-18 13:33] davidslaby commented on #574
Hey guys, when do you expect the new version will be out? I'm worth to wait to scoping support. Thank you.

[2022-07-18 17:57] davidslaby commented on #574
Is there any option to release an alpha version with already existing features (scoping is checked above), so we can use it before version 4 has been released?

[2022-07-20 11:11] JohannesKlauss commented on #574
Hey @davidslaby I know it has been quite a while since the announcement. I got very limited time at my hands to push this project further (which also involves rewriting a good bit of the documentation and introduce versioning there).

A alpha release sounds like a great idea. Will probably be able to release one on friday.

[2022-07-21 09:11] tyronyiu opened #785 "List all available hotkeys"
It would be a great feature to view all available hotkeys and be able to show them to the user in a dialog or similar.

[2022-07-21 10:53] JohannesKlauss commented on #785
This is on the Roadmap for version 4, have a look at: #574

[2022-07-21 10:54] #785 closed

[2022-07-21 16:08] arbiasgj commented on #678
The same issue seems to happen on MacBook for firefox for all other combinations. Example: I show a popup, in the event of clicking CMD + F6, and none of the other combinations such as Option + F6 or SHIFT + F6 work.

[2022-07-22 08:37] #759 closed, assigned to nobody

[2022-07-22 15:10] JohannesKlauss commented on #574
@devinhalladay A pre release is now available under either `next` or `4.0.0-1`

I didn't had any time to rewrite the readme yet, so usage is visible in the tests here: https://github.com/JohannesKlauss/react-hotkeys-hook/blob/feature/version-4/tests/useHotkeys.test.tsx

Or just have a look at the source code here: https://github.com/JohannesKlauss/react-hotkeys-hook/blob/feature/version-4/src/useH

[2022-07-22 15:51] JohannesKlauss commented on #574
I am gathering feedback on this discussion thread: https://github.com/JohannesKlauss/react-hotkeys-hook/discussions/788

[2022-07-23 11:05] JohannesKlauss commented on #765
This seems to be related to #766 and should be fixed in the `4.0.0-1` version

[2022-07-25 13:07] bajcmartinez commented on #765
It seems to be working now, thanks!

[2022-07-25 13:07] #765 closed

[2022-07-30 08:51] JohannesKlauss commented on #781
Hmh... I am not sure how we could pull this off. Keyboard events are triggered by the browser, determining the order of them introduces a lot of overhead into a modularized hook. I am also not quite sure if ordering is what you want. I guess you actually want to suppress the execution of your global callback, but you can just implement this in user land.

Create a context that holds a boolean flag

[2022-07-30 08:55] vojto commented on #781
Fair enough, thank you!

[2022-07-31 10:39] #781 closed

[2022-08-14 16:11] lunacrafts opened #792 "[4.0.0-3] `useHotkeys` with meta results in strange behaviour"
[code]

This code works correctly only until first execution. After first execution, the callback is fired after meta key is pressed (not combination of meta+k).

It seems to be a case only for meta. `ctrl+k` works fine.

[2022-08-15 11:38] JohannesKlauss commented on #792
Thank you for reporting the issue. I'll have a look into it :)

[2022-08-15 11:59] lunacrafts commented on #792
Also I'm not sure If It's bug or docs are outdated but 'esc' hotkey don't work, only 'escape' do.
Regarding this docs both should worl.
https://github.com/JohannesKlauss/react-hotkeys-hook/blob/v4.0.0-3/documentation/docs/documentation/useHotkeys/basic-usage.mdx

[2022-08-15 14:06] JohannesKlauss commented on #792
The documentation for version 4 isn't updated yet, but both should work, yes

[2022-08-15 14:48] lunacrafts commented on #792
Something is broken not only with meta key.

I use following code
  useHotkeys(
    "escape",
    (e) => {},
    {
      enableOnFormTags: ["INPUT"],
      enabled: open,
    }
  );

  and after first callback execution, callback is being executed on every key down

[2022-08-19 13:15] JohannesKlauss commented on #792
Both issues should now be resolved with `4.0.0-4`

[2022-08-19 13:15] #792 closed

[2022-08-19 13:16] lunacrafts commented on #792
Thank you  !! 🥳

[2022-08-23 20:42] colinricardo opened #795 "Cannot use import statement outside a module"
Encountering this on all v4 releases:

<img width="496" alt="CleanShot 2022-08-23 at 21 41 36@2x" src="https://user-images.githubusercontent.com/21294951/186261488-add4a20f-8687-41e3-8672-c7c3cf2ac041.png">

along with a lot of output:

<img width="938" alt="CleanShot 2022-08-23 at 21 42 11@2x" src="https://user-images.githubusercontent.com/21294951/186261524-dda36990-3015-4c66-b856-136a3efd2a3c.p

[2022-08-24 12:36] JohannesKlauss commented on #795
How are you importing the Module?

[2022-08-24 16:51] lunacrafts opened #796 "[4.0.0-5] Arrow keys don't execute callback"

[2022-08-24 18:58] JohannesKlauss commented on #796
Can you please provide more information? How are you calling the hook? Can you share a codesandbox reproduction?

[2022-08-25 08:43] JohannesKlauss commented on #795
Version `4.0.0-5` seems to work just fine: https://codesandbox.io/s/thirsty-mopsa-x43bfw?file=/src/App.tsx

[2022-08-25 12:15] swalker326 commented on #796
Here is a code sandbox with arrow keys setting count

https://codesandbox.io/s/romantic-pike-ggs3dp?file=/src/App.tsx

Here is a link to the docs showing how to setState in your callBack

https://react-hotkeys-hook.vercel.app/docs/documentation/useHotkeys/basic-usage#modifiers--special-keys

[2022-08-25 12:21] lunacrafts commented on #796
I'm sorry. I was a bit in rush and I assume the title was self explanatory.

I increased version to 4.0.0-4 in @swalker326 example. It don't execute callback. Maybe is it another difference on OSX?
https://codesandbox.io/s/bitter-thunder-lpbluv?file=/src/App.tsx

I made a workaround which looks like that:
  useHotkeys(
    "*",
    (event) => {
      if (event.key === "ArrowLeft") {
        //

[2022-08-29 11:23] YeonV opened #798 "Record Shortcuts (Map Input Event to shortcut string)"
First of all: GREAT project!!!! Thank you soo much!

Could you provide function to be used to record a shortcut?
A function to be called on an Input Field onChange, returning the shortcut string understandable by useHotkeys() i.e. 'ctrl+alt+y'

So users can map their own shortcut in frontend?

Sorry for this bad english, I hope you can still somehow understand me

Gratefully
Blade (YeonV)

[2022-08-29 12:54] JohannesKlauss commented on #798
That sounds like a nice additional feature. I put it up on the roadmap to V4, but might land in 4.1
First I'd like to finally finish the major release.

[2022-08-29 15:56] YeonV commented on #798
Thank you soo much for answering me <3

![image](https://user-images.githubusercontent.com/28861537/187240495-3474824d-aedb-4d12-9472-ae6898212b0b.png)

maybe you can use some of my noob code:

[code]

everything run super nice, but i have one question:
when trying to add a shortcut from the frontend, i get an error regarding that the hooks changed from previous render.

Do you have a tip, how i c

[2022-08-30 00:58] YeonV commented on #798
Yooo @JohannesKlauss :)
https://yeonv.github.io/io/
![image](https://user-images.githubusercontent.com/28861537/187324544-8457e395-e6ec-43b3-b1f5-ccfd2dbdff88.png)

works like a charm!

[2022-08-30 08:28] JohannesKlauss commented on #796
up and down currently won't work, but I agree that they should be mapped. I'll release a fix for that

[2022-09-12 02:54] gregfenton opened #802 "Focus on text field but enters hotkey"
The following example:

**REPRO CODE:**
[code]

**EXPECTED BEHAVIOUR:**
- without a focus in the <input> field, typing `/` would focus in the field so that a search string could be entered

**ACTUAL BEHAVIOUR:**
- without focus in the <input> field, typing '/' puts focus in the field and sets its initial value to `/`

I could not determine from the documentation if there is an option to suppress p

[2022-09-12 03:13] gregfenton commented on #802
I got a working example of what I think is valid behaviour.  But it is more code that I'd expect to have to do.  Wondering if either:
- I'm missing some capability of react-hotkeys-hook I should be aware of?
- This example is a potential "new feature" for react-hotkeys-hook ?

[code]

[2022-09-15 15:21] johnsoncode opened #804 "Question Mark (SHIFT+?) Not Supported"
It appears that the question mark is not supported due to the callback not being called and I don't see the corresponding mapping in the hotkeys js library as well.

My work around for now, though not ideal as I have many other shortcut hooks registering other hotkeys. This will be invoked anytime a key is pressed and may run into performance issues later.
[code]

[2022-09-25 05:21] javascripet opened #805 ""enabledOnTags" in the document should be "enableOnTags""
#enabledOnTags
#enabledOnTags: string[] // default: undefined

took some time to fugure it out

by the way: thank you for the great project

[2022-09-26 08:11] JohannesKlauss commented on #805
Ah you are right, good catch! Thank you. I'll update the docs accordingly.

[2022-09-26 10:07] #805 closed

[2022-09-28 09:51] FranRioLorda commented on #804
Hi. I think that "<" and ">" had a similar issue and are not supported neither

[2022-10-11 20:55] federico-terzi-anima commented on #796
Any update on this issue? :)

[2022-10-12 07:03] lunacrafts commented on #796
I would suggest to avoid using this version of package. I had to move to [react-use-hotkeys](https://github.com/reecelucas/react-use-hotkeys) until stable version is released.

[2022-10-12 07:43] JohannesKlauss commented on #796
I'm quite packed with tasks currently, sorry. Maybe I'll get to it during the weekend. But you are always welcome to contribute. At the end of the day, this is how open source projects live on.

[2022-10-12 08:33] federico-terzi-anima commented on #796
Thank you for the update! I appreciate your hard work :)

[2022-10-17 17:50] pbshgthm opened #809 "Hotkey not working when input is focused inside iframe"
Let's say a react component `Foo` is rendered inside an iframe using [react-frame-component](https://github.com/ryanseddon/react-frame-component). Now `Foo` has a `useHotkeys` hook. Everything works as expected. `Foo` also has an input element. When the input element comes into focus, `useHotkeys` doesn't work anymore. Even if the input gets out of focus, the `useHotkeys` doesn't work. As long as

[2022-10-19 08:49] MaxAlex666 commented on #809
I think there is no dependency on react-frame-component here, in the usual form I have been observing the same behavior for a long time, I have not yet found a solution.

[2022-10-19 19:16] gontovnik commented on #809
Have a similar issue – whenever I click within iframe and focus changes to the iframe, hotkeys do not work.

[2022-11-04 08:57] #804 closed

[2022-11-04 08:57] #766 closed

[2022-11-04 08:58] JohannesKlauss commented on #766
This is fixed with version 4

[2022-11-04 10:18] JohannesKlauss commented on #796
Fixed with Pre release version 4.0.0-6

[2022-11-04 10:18] #796 closed

[2022-11-04 14:49] JohannesKlauss commented on #574
Version 4 is now officially released!

[2022-11-04 14:49] #574 closed

[2022-11-04 14:50] JohannesKlauss commented on #795
If this issue persists, please provide new info, for now I am closing it due to inactivity.

[2022-11-04 14:52] JohannesKlauss commented on #802
I'll look into it, thanks for raising the issue

[2022-11-04 16:07] tmcw commented on #795
Seeing this on v4.0.2, importing via Next.js 12.3.1 - looks like the default distributed module changed from CJS to ESM between 3 & 4. Which is fine, but might want to highlight "ESM only" because this'll break a lot of users setups.

[2022-11-05 11:35] Rednegniw commented on #795
Seeing this on my setup as well, with Next.js 13.0.2.

[2022-11-05 13:43] jkesteris commented on #795
Same here, I'm using 4.0.2 and for nextjs 12.2.5 . here's a link to [codesandbox](https://codesandbox.io/p/sandbox/pedantic-estrela-75zlkr?selection=%5B%7B%22endColumn%22%3A49%2C%22endLineNumber%22%3A6%2C%22startColumn%22%3A49%2C%22startLineNumber%22%3A6%7D%5D&file=%2Fpackage.json&workspace=%257B%2522activeFileId%2522%253A%2522cl8skx9az000nlpgeaw1kc72o%2522%252C%2522openFiles%2522%253A%255B%2522%2

[2022-11-05 15:23] saurabhsharan commented on #678
I also ran into this too on Chrome on macOS Ventura. Defining a hotkey for 'option+1' (or 'option+2') didn't register. Interestingly, it seems to be a regression in version 4.0.2 since reverting to version 3.4.7 fixed it.

[2022-11-07 09:02] JohannesKlauss commented on #795
Thanks for the reproducible, I'll check it out and come back with a fix.

[2022-11-07 15:11] nicksrandall commented on #795
I'm also seeing this problem in a Remix app. Thanks for looking into it!

[2022-11-07 15:15] nicksrandall opened #827 "window is not defined (SSR)"
Would it be possible to make this hook SSR compatible by wrapping this fn in a guard to only run on the client?

https://github.com/JohannesKlauss/react-hotkeys-hook/blob/cc8aeed82c4bf1963afacc47efb59b2a5a8e077f/src/isHotkeyPressed.ts#L42

[2022-11-07 22:08] ZuBB commented on #795
Also have it 😞

@JohannesKlauss could you please ping this issue when you release a bugfix for this issue?

[2022-11-08 11:06] a-y-u-s-h opened #829 "SyntaxError: Cannot use import statement outside a module"
I updated `react-hotkeys-hook` to latest version and got this error.

![image](https://user-images.githubusercontent.com/19586719/200548859-d748f334-ec96-47fc-a9dc-7c05575871e8.png)

[2022-11-08 13:52] JohannesKlauss commented on #827
Yes, I'll fix that later this day.

[2022-11-08 15:59] JohannesKlauss commented on #827
Fixed in 4.0.3

[2022-11-08 16:01] #829 closed

[2022-11-08 16:27] JohannesKlauss commented on #795
Does it still happen with version 4.0.4-0?

[2022-11-08 16:57] lukebowerman commented on #795
FYI - for the Remix folks here... Adding the package to `remix.config.js` `serverDependenciesToBundle` option sorts things out just fine (Remix / ESBuild will then transpile the package from ESM to CJS)

[code]

[2022-11-08 17:30] lukebowerman commented on #795
@JohannesKlauss - I just tried out `4.0.4-0` on Remix without transpiling (see my previous comment) I'm getting an error about unexpected output (seems like its barfing on the `dist/index.js`

However running it it through bundler seems to straighten things out and it works fine.

[2022-11-08 17:53] lukebowerman commented on #795
Follow-up... turns out our Vitest unit tests are also failing due to this upgrade:

<img width="1290" alt="image" src="https://user-images.githubusercontent.com/19156294/200637947-02bd5f2f-b81f-454b-b2c8-34d280493749.png">

Only change was to bump from `3.4.7` to `4.0.3` and some minor changes to the type interfaces for our use of `useHotkeys`. I'll work to get a minimal reproduction repository up

[2022-11-08 19:09] nicksrandall commented on #827
@JohannesKlauss I'm still getting an issue when running server-side because of the usage of `useLayoutEffect` which is not supported in a server environment. I've seen may other libraries get around this issue by creating an abstraction called `useSafeLayoutEffect` which will run a regular `useEffect` on server and `useLayoutEffect` on client.

See: https://github.com/chakra-ui/chakra-ui/blob/2600

[2022-11-09 04:56] PinkChampagne17 opened #834 "KeyboardEvent.key may be undefined"
First, I'm sorry for not being able to reproduce this.

I got some feedback that react-hotkeys-hook may throw Type Error: read properties of undefined (reading 'toLowerCase' or 'toLocaleLowerCase').

This situation mainly occurs in Chrome 107 on Mac OS / Windows.

Stack trace 1:
https://github.com/JohannesKlauss/react-hotkeys-hook/blob/cc8aeed82c4bf1963afacc47efb59b2a5a8e077f/src/useHotkeys.ts#L81

[2022-11-09 05:17] ggascoigne opened #835 "Can't use 4.0.3 with create-react-app/webpack 5"
4.0.2 works fine, but on upgrading to 4.0.3 I get:

ERROR in ./node_modules/react-hotkeys-hook/dist/index.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: ./node_modules/react-hotkeys-hook/dist/index.js: Support for the experimental syntax 'jsx' isn't currently enabled (1:18128):

Sticking to 4.0.2 avoids the issue.

Using react@18.2.0, react-scripts@5.0.1.

[2022-11-09 08:04] ptmkenny commented on #835
Same issue, also getting this prompt:

[code]

However, I'm pretty sure this is unintentional because we shouldn't have to update npm config like this in a x.x.n release.

[2022-11-09 09:16] MartinXPN commented on #795
Is there a workaround that we can use for now? I'm also using Next.js 13.

[2022-11-09 13:50] martinstark commented on #835
![image](https://user-images.githubusercontent.com/901824/200847264-9bc4ff53-8000-44ec-b5e8-50df24969aad.png)

CI scripts in our pr aren't liking it either, looks like a broken bundle.

[2022-11-09 15:24] tmcw commented on #835
This issue is most likely a duplicate of #795 - the recent 4.0.0 release was ESM-only.

[2022-11-09 15:58] ggascoigne commented on #835
I'd have thought so, except the other 4.0.x versions all work.

[2022-11-10 02:58] rwollgar opened #836 "Exception in react-hotkeys-hook when selecting from previous entered values of an input element"
Using 4.0.2 of react-hotkeys-hook
the hook has "enableOnFormTags" set to true
react 18.2

Uncaught TypeError TypeError: Cannot read properties of undefined (reading 'toLocaleLowerCase')
    at Je (c:\gitrepos\zendesk-billing-app-v2\node_modules\react-hotkeys-hook\dist\index.js:1:16631)
    at <anonymous> (c:\gitrepos\zendesk-billing-app-v2\node_modules\react-hotkeys-hook\dist\index.js:1:20455)

[2022-11-10 07:33] MartinXPN commented on #795
I'm currently using Next.js 13 with `useHotkeys@4.0.2`.
The weirdest part is that everything works when I have `useHotkeys` in one file. Yet, everything breaks as soon as I add some other `useHotkeys` in another file.

I currently have:
[code]

And I wanted to add another one in a different file:
[code]

If I add this to the same initial file it works fine, but as soon as I add it to another file

[2022-11-10 08:55] JohannesKlauss commented on #835
esbuild is not liking me. I'll try to get a fix working. Probably have to switch back to the old bundling system for now.

[2022-11-10 08:56] JohannesKlauss commented on #834
thanks for raising that issue. I'll try to come up with a fix.

[2022-11-10 08:56] JohannesKlauss commented on #836
thanks for raising that issue. I'll try to come up with a fix.

[2022-11-10 19:56] rwollgar commented on #836
Thanks.
It looks like it's triggered for each character in the selected previous value.

[2022-11-10 23:28] naquarius commented on #835
seeing this same issue here (4.0.3), when version locked to 4.0.2 i get `SyntaxError: Cannot use import statement outside a module`

[2022-11-11 09:55] martinstark commented on #835
I think you may be running into https://github.com/JohannesKlauss/react-hotkeys-hook/issues/795, and need to use 3.X instead

[2022-11-11 15:14] RickLucassen commented on #834
Hello,

We are currently running into the same issue. We notice this issue popping up in combination with the chrome auto-fill mechanism. At that point the key seems to be undefined.

![image](https://user-images.githubusercontent.com/44491854/201369266-cf8e2420-e125-4c86-8234-48736a4716f4.png)

[2022-11-11 17:42] elliottbf opened #837 "Unexpected token - build issue with v4.0.3"
Hi there!

I just tried to upgrade from v3.4.7 to v4.0.3 and got a build error that I'm not sure what to do with.

For context I'm using Vite v3.2.3 with typescript and I'm on React 18.

Here's the output from that error:

[code]

Any ideas about what might be going on here? For now, I've downgraded back to v3.4.7 and the build error is gone.

[2022-11-11 20:20] gummigun opened #838 "Is handler.key outdated in v4?"
I was trying out v4 and can't seem to be able a "key" attribute from the handler object like the docs show here:
https://react-hotkeys-hook.vercel.app/docs/api/use-hotkeys

It does have a "keys" attribute that's an array. Are the docs just in need of update or am I missing something?

[2022-11-12 00:16] rwollgar commented on #837
Had the same problem. Going back to 4.0.2 and the error disappeared. (react 18.2, webpack 5.75)

[2022-11-13 12:30] TDanks2000 commented on #837
i still have this issue even on 4.0.2

[2022-11-14 17:55] nicksrandall commented on #837
I have a PR in (#839) to fix this. I personally needed the fix ASAP so I published a fork on NPM with the changes: `@nicksrandall/react-hotkeys-hook`

[2022-11-14 17:55] nicksrandall commented on #835
I have a PR in (#839) to fix this. I personally needed the fix ASAP so I published a fork on NPM with the changes: `@nicksrandall/react-hotkeys-hook`

[2022-11-14 17:56] nicksrandall commented on #795
I have a PR in (#839) to fix this. I personally needed the fix ASAP so I published a fork on NPM with the changes: `@nicksrandall/react-hotkeys-hook`

[2022-11-16 10:40] spavlukevich opened #843 "useHotKeys inside Iframe"
Hi there!

**version**: react-hotkeys-hook@4.0.2

I'm trying to use ```useHotKeys``` inside ```react-frame-component``` Iframe, but when i'm focusing on iframe and pressing some hotkeys, events doesn't work, nothing happens, example:

[code]

what i'm doing wrong, or maybe i need to pass some arguments to ```useHotkeys``` function?

thanks!

[2022-11-16 16:03] JohannesKlauss commented on #795
@nicksrandall Thanks for the PR! I added a few comments. Maybe you can have a look at it before we can merge it

[2022-11-16 16:15] JohannesKlauss commented on #795
Hey all, based on @nicksrandall work, I have released version [4.0.4-1](https://www.npmjs.com/package/react-hotkeys-hook/v/4.0.4-1)

Please check if the issue still persists

[2022-11-16 17:14] JohannesKlauss commented on #795
Hey,
so with https://www.npmjs.com/package/react-hotkeys-hook/v/4.0.4-5 the problems should be gone, please check this version out and give me feedback if the issue is solved.

[2022-11-16 18:25] tmcw commented on #795
👍 Can confirm, 4.0.4-5 works in my setup, thanks!

[2022-11-16 18:55] robertaird commented on #678
I ran into this as well, with `'alt+.'`. I found a workaround; I suspect something is matching against the typed character (i.e. holding "option" and pressing "." outputs "≥"). Defining the hotkey as `'alt+., alt+≥'` works without issue.

For reference, with this event listener...
[code]
I got this output from typing option + period, comma, t, n, 1 and 2:
<img width="118" alt="Screen Shot 2022-11-

[2022-11-16 19:05] lukebowerman commented on #795
Ditto. Working for me as well. Thank you

[2022-11-17 08:22] MartinXPN commented on #795
Can confirm for `4.0.4-5`, works like a charm. Thanks @JohannesKlauss @nicksrandall !

[2022-11-17 08:57] JohannesKlauss commented on #837
This should be fixed with version 4.0.4

[2022-11-17 08:57] #837 closed

[2022-11-17 08:57] #835 closed

[2022-11-17 08:57] JohannesKlauss commented on #827
This should be fixed with version 4.0.4

[2022-11-17 08:57] #827 closed

[2022-11-17 08:58] JohannesKlauss commented on #795
I published version 4.0.4 as a stable patch. Thanks for the patience and help everybody

[2022-11-17 08:58] #795 closed

[2022-11-17 16:54] JohannesKlauss commented on #838
Ah yes, that's a typo. It should be `keys`. I will update the documentation

[2022-11-17 16:54] #838 closed

[2022-11-17 17:00] JohannesKlauss commented on #834
Hey @RickLucassen thanks for the additional info. Do you happen to have a reproduction sandbox at your hand?

[2022-11-18 12:11] KimPeeters opened #848 "Difference in behavior v3 and v4 when using a comination with shift key"
Hi,

Prior to version 4 you if you wanted the hotkey for "shift+3" for example, you could use that combination. In the v4 version, you need to use "shift+#" (for my keyboard layout at least). I assume this is because of the removal of hotkeys.js and implementing your own solution.

I think the way it was prior to v4 was better because in my case i want for users to be able to use shift 1 through 5

[2022-11-18 15:11] RickLucassen commented on #834
Sure, here you go: https://codesandbox.io/s/affectionate-wescoff-3ux0g8
If you open this in chrome and use the autofill mechanism to autofill something in one of the inputs it generated the error mentioned above.

[2022-11-18 17:42] pionxzh opened #849 "`Meta` is not been mapped to `Ctrl` on Windows"
This is an example from the [document](https://github.com/JohannesKlauss/react-hotkeys-hook/blob/cc8aeed82c4bf1963afacc47efb59b2a5a8e077f/documentation/docs/documentation/useHotkeys/disable-hotkeys.mdx#toggle-hotkeys-with-the-enabled-flag)

[code]

I just tried this on Windows, but actually, it won't be triggered correctly.
Not sure if it is a documentation issue or an implementation issue.

[2022-11-21 18:09] pionxzh opened #850 "Wrong behavior on pressing different hotkey at the same time"
### Version
4.0.4

### Link to minimal reproduction
https://stackblitz.com/edit/react-p9vi6t?devToolsHeight=33&file=src/App.js

### Steps to reproduce
1. Register hotkey for `UP`, `RIGHT`, `DOWN`, `LEFT`
2. Log the result in your own way
3. Press [`UP`, `RIGHT`] at the same time (`UP` first)
4. See the result / console log

### What is expected?
Press [`UP`, `RIGHT`] at the same time
=> ['UP', 'RI

[2022-11-21 20:02] JohannesKlauss commented on #850
Thanks for raising the issue, I'll have a look at it

[2022-11-22 09:11] psychedelicious commented on #848
Have just run into this with a user who has a QWERTZ keyboard.

To send `[` and `]` on their keyboard layout, they use right alt + 8 (`[`) or 9 (`]`). This isn't caught by the hook.

[2022-11-22 09:27] psychedelicious commented on #850
I have run into an issue which feels very similar.

For combination hotkeys which include `meta` e.g. `meta+z` (overriding undo on macOS), if you trigger the hotkey but do not release `meta`, any subsequent key presses on any other key (apparently except `ctrl`) trigger the hotkey again.

Demo: https://stackblitz.com/edit/react-eqz5gk?file=src/App.js

In v3 this issue did not occur.

[2022-11-24 01:25] joshkel commented on #848
@KimPeeters, react-hotkeys-hook can match on [code](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/code) (lowercased, with the leading `Key` removed) as well as key, so matching `shift+digit1` through `shift+digit5` should work.

@psychedelicious, the right alt (AltGr) should be reported as [Ctrl + Alt](https://stackoverflow.com/a/18570096/25507), so I think you can match on `['[',

[2022-11-24 07:15] KimPeeters commented on #848
@joshkel Great! I'll start using codes from now on. Thanks for the feedback!

[2022-11-25 15:41] ptya opened #853 "Memoize setters from context"
Hi,
I'm now trying to use the scope based disabling/enabling actions and I noticed that by using `useHotkeysContext` the underlying functions are simple arrow functions which makes every component using that hook rerender anytime the provider rerenders. Wrapping them into `useCallback`s would solve this issue.

I have a recommendation as well on this.
If you were to separate `state` and `function`

[2022-11-25 15:42] ptya opened #854 "Disabling all scopes turns everything on"
Hi,
Just as I wrote my other issue I noticed a potential bug in the code. Now when you disable a scope, and there are no more enabled scopes after filtering, instead of turning everything off, the codes turns everything back on again. I don't think that is the intended usecase here.

[2022-11-26 08:59] c0ncentus opened #855 "useIsHotkeyPressed is not expose so dont have isHotkeyPressed()"
![image](https://user-images.githubusercontent.com/25374826/204080812-88cd0f7f-24aa-4b05-9e97-d3c6514cd1ee.png)

[code]
From typescript "useIsHotkeyPressed" is not expose, so it will be impossible ...

either is impossible from now either documentation needed UPDATE, i dont want make divination if useHotkeysContext() is for that or not ...

https://react-hotkeys-hook.vercel.app/docs/api/is-hotkey-

[2022-11-26 09:03] c0ncentus commented on #855
nevermind
![image](https://user-images.githubusercontent.com/25374826/204080992-0ce38c78-53f9-4627-8899-0434cce46ee6.png)

just I thinked "callback" means "callback in isHotkeyPressed".... maybe you can just say "onClick" rather "callback" just confusing

[2022-11-26 09:03] #855 closed

[2022-11-29 13:56] pauloendoh commented on #848
I was using shift+2 and had to change to shift+digit2 , it would be nice to have this clear in the doc.

[2022-11-29 17:40] linonetwo commented on #834
I wonder why we need a listener on document, why not only listen on \<HotkeysProvider ?

[code]

[2022-11-30 10:25] JohannesKlauss commented on #834
Well, you cannot "listen" to the HotkeysProvider, since it's a React Context Provider Component. The functionality of `isHotkeyPressed` should work without the need of having to use the HotkeysProvider component.

Also I am not sure what this has to do with the issue?

[2022-11-30 11:44] linonetwo commented on #834
Oh, just tiddlywiki clone the event, and strip out the "key" property, and propergate it to the document, and catch by this snippet of code, causing the error if this issue's title.

I have fixed this in the tiddlywiki side for my project. But I still hope in react-hotkeys-hook v4 we can listen on specific dom node instead of the document.

[2022-11-30 12:20] JohannesKlauss commented on #834
I don't quite understand. You can listen to a specific dom node with the returned ref of the `useHotkeys` hook, like this:

[code]

The source code you pointed to is only related to `isHotkeyPressed` which is an imperative check of all the pressed down keys in a specific moment.

[2022-11-30 12:26] JohannesKlauss commented on #854
Thank you for reporting the issue.

[2022-11-30 12:37] linonetwo commented on #834
Sorry, I tried this again and found if I use ref, the error is from here:

[code]

[2022-11-30 12:39] linonetwo commented on #834
So the ref is working, but acturally I was typing in a textarea outside of this element, so I was confused.